.wsx-edit-role-wrapper {
    color: var(--color-text-medium);
    &.wsx-card {
        padding: 32px;
    }
    .wsx-edit-role-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .wsx-radio-field-label {
        margin-bottom: 20px;
    }
    input, .wsx-multiselect-wrapper {
        background-color: var(--color-base-one);
    }
}
.wsx-role {
    &-title-wrapper {
        margin-bottom: -16px;
    }
    &-credit-wrapper {
        display: flex;
        align-items: center;
        gap: 32px;
        .wsx-input-wrapper {
            width: 100%;
        }
    }
}
.wsx-user-role-url-fields {
    gap: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 24px;
    background-color: var(--color-gray);
    border-radius: var(--border-radius-md);
    border: 1px solid var(--color-border-primary);
    .wsx-user-role-radio-field {
        width: 100%;
        flex-grow: 2;
    }
    .wsx-input-wrapper {
        width: 48%;
        flex-grow: 1;
    }
}
.wsx-slider-line-container {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}
.wsx-shipping-zone {
    &-row {
        gap: 40px;
        display: flex;
        padding: 16px 24px;
        align-items: center;
        border-top: 1px solid var(--color-border-primary);
    }
    &-title {
        color: var(--color-text-medium);
        min-width: 100px;
        width: 18.575%;
    }
}