.wsx-addon-card-container {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    background-color: var(--color-base-one);
    box-shadow: 0px 2px 4px 0px var(--color-shadow-primary);
    border-radius: var(--border-radius-lg);
    
    .wsx-addon-card-body {
        padding: 32px 32px 90px 32px;
        position: relative;
    }

    .wsx-addon-card-header {
        img {
            max-width: 48px;
        }
    }

    .wsx-addon-card-footer {
        padding: 16px 32px;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid var(--color-border-primary);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--color-base-one);
        border-radius: 0 0 var(--border-radius-lg) var(--border-radius-lg);
    }
}
.wsx-pro-active-card {
    border-radius: var(--border-radius-lg);
    box-shadow: 0 1px 2px 0 var(--color-shadow-primary);
    background-color: var(--color-base-one);
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    &-content {
        width: 34vw;
        @media (max-width: 1132px) {
            width: 100%;
        }
    }
    img {
        max-width: 450px;
    }
    @media (max-width: 1132px) {
        text-align: center;
        .wsx-list {
            width: fit-content;
        }
        .wsx-btn, .wsx-list, img {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

/* RTL Support */
.rtl .wsx-addon-card-container .wsx-pro-lock {
    right: auto;
    left: 16px;
}