.wsx-alert {
    &-popup-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-shadow-primary);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }
    &-popup {
        background-color: var(--color-base-one);
        border-radius: var(--border-radius-lg);
        width: 90%;
        max-width: 400px;
        padding: 16px;
        box-shadow: 0 4px 8px var(--color-shadow-primary);
        text-align: center;
        border: 1px solid var(--color-border-primary);
    }
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        border-bottom: 1px solid var(--color-border-primary);
        padding-bottom: 12px;
    }
    &-title-wrapper {
        font-weight: var(--font-weight-medium);
        color: var(--color-tertiary);
        display: flex;
        align-items: center;
        gap: 8px;
    }
    &-body {
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 16px;
        text-align: left;
        color: var(--color-text-medium);
    }
    &-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 12px;
    }
}