.wsx-calendar {
    &-range-wrapper {
        border: 1px solid var(--color-tertiary);
        border-radius: var(--border-radius-md);
    }
    &-header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 32px;
        border-bottom: 1px solid var(--color-border-primary);
    }
    &-title {
        display: flex;
        align-items: center;
        gap: 12px;
        svg {
            color: var(--color-blue-dark);
        }
    }
    &-value {
        display: flex;
        align-items: center;
        gap: 20px;
        .wsx-input-wrapper-with-icon .wsx-icon {
            padding: 6px;
            svg {
                width: 16px;
                height: 16px;
            }
        }
        input, .wsx-date-input-wrapper {
            max-width: 140px;
            min-height: auto;
        }
        @media (max-width: 756px) {
            flex-direction: column;
            gap: 12px;
            width: fit-content;
            align-items: end;
        }
    }
    &-container {
        display: flex;
    }
    padding: 16px 0px 12px;
    margin: 0 16px;
    border-top: 1px solid var(--color-border-primary);
}

.wsx-control-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px 0;
    margin: 0 16px;
    .wsx-month {
        width: 100%;
        text-align: center;
        font-size: 18px;
        line-height: 1.4em;
        font-weight: var(--font-weight-medium);
        @media (max-width: 480px) {
            font-size: 18px;
        }
    }
    .wsx-calendar-controller {
        cursor: pointer;
        &:hover {
            color: var(--color-primary);
        }
    }
}
.wsx-days-of-week,
.wsx-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 10px;
}
.wsx-day {
    &-name {
        text-align: center;
        font-size: 12px;
        line-height: 1.34em;
        font-weight: var(--font-weight-medium);
        text-transform: uppercase;
        margin-bottom: 16px;
        padding: 2px 8px;
        @media (max-width: 480px) {
            padding: 2px 4px;
        }
    }
    padding: 6px 10px;
    text-align: center;
    font-size: 14px;
    line-height: 1.34em;
    color: var(--color-blue-dark);
    @media (max-width: 480px) {
        padding: 4px 6px;
        font-size: 16px;
    }
    &.active {
        cursor: pointer;
        &:hover {
            background-color: var(--color-base-three);
            color: var(--color-text-medium);
        }
    }
    &.in-range, &.hovered-range {
        background-color: var(--color-base-two);
        &:hover {
            background-color: var(--color-base-two);
        }
    }
    &.start, &.end {
        background-color: var(--color-primary);
        color: var(--color-text-reverse);
        &:hover {
            background-color: var(--color-primary);
            color: var(--color-text-reverse);
        }
    }
    &.start {
        border-radius: 8px 0 0 8px;
        &.end {
            border-radius: 8px;
        }
    }
    &.end {
        border-radius: 0 8px 8px 0;
    }

    &.selected {
        background-color: var(--color-primary);
        color: var(--color-text-reverse);
        &:hover {
            background-color: var(--color-primary);
            color: var(--color-text-reverse);
        }
    }
    &.today {
        background-color: var(--color-secondary);
        color: var(--color-text-reverse);
        &:hover {
            background-color: var(--color-secondary);
            color: var(--color-text-reverse);
        }
    }
}

/* RTL Support */
.rtl {
    .wsx-calendar-controller {
        transform: rotate(180deg);
    }
    .wsx-day {
        &.start {
            border-radius: 0px 8px 8px 0px;
        }
        &.end {
            border-radius: 8px 0px 0px 8px;
        }
    }
}