.wsx-color-picker {
    &-container {
        border-radius: var(--border-radius-sm);
        border: 1px solid var(--color-border-primary);
        width: fit-content;
        min-width: 140px;
        overflow: hidden;
        background-color: var(--color-base-one);
    }
    &-label {
        padding: 10px 16px;
        color: var(--color-text-medium);
        text-transform: uppercase;
    }
}
input[type=color].wsx-color-picker-input {
    outline: 0;
    box-shadow: none;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 0;
    border: 0;
    border-right: 1px solid var(--color-border-primary);
    &::-webkit-color-swatch-wrapper {
        padding: 0;
    }
    &::-webkit-color-swatch {
        border: none;
    }
}
/* RTL Support */
.rtl {
    input[type=color].wsx-color-picker-input {
        border-right: 0;
        border-left: 1px solid var(--color-border-primary);
    }
}