/* Variables */
// color_variables
$color-primary: #6C6CFF;
$color-secondary: #FEAD01;
$color-tertiary: #070707;
$color-light: #868C98;

$color-negative: #FF2F54;
$color-positive: #62C55A;
$color-blue-dark: #0A0D14;
$color-pink: #ff176b;
$color-indigo: #292461;
$color-gray: #F6F8FA;

$color-base-one: #ffffff;
$color-base-two: #E7E7FF;
$color-base-three: #F4F4FF;

$color-text-dark: #07050b;
$color-text-medium: #343A46;
$color-text-light: #6B677A;
$color-text-reverse: #ffffff;
$color-text-body: #87858d;

$color-border-primary: #E2E4E9;
$color-border-secondary: #DCDCEE;
$color-border-tertiary: #D5D5FA;
$color-border-light: #eeeeee;

$color-shadow-primary: rgba(78, 46, 206, 0.16);
$color-shadow-dark: rgba(78, 46, 206, 0.161);
$color-shadow-tertiary: rgba(7, 7, 7, 0.5);

// border_variables
$border-radius-xl: 16px;
$border-radius-lg: 12px;
$border-radius-md: 8px;
$border-radius-sm: 4px;

// button_variables
$btn-font-size: 16px;
$btn-font-weight: 500;
$btn-line-height: 1.429em;
$btn-vertical-padding: 10px;
$btn-horizontal-padding: 20px;

// animation_variables
$transition-md: 0.3s;

// typography_variables
$body-font-family: 'Inter', sans-serif;
$btn-font-family: 'Inter', sans-serif;

$font-weight-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;


@function hex-to-rgba($hex, $opacity) {
    $red: red($hex);
    $green: green($hex);
    $blue: blue($hex);
    @return rgba($red, $green, $blue, $opacity);
}


/* Default Style */
body {
    font-family: $body-font-family;
    font-size: 14px;
    line-height: 1.42857em;
    color: $color-text-body;
}

a {
    text-decoration: none;
    color: initial;
    &:hover {
        color: $color-primary;
    }
    &:focus {
        box-shadow: none;
        outline: none;
        color: initial;
    }
    &.wsx-color-primary:hover {
        color: $color-secondary;
    }
}
img {
    max-width: 100%;
    height: auto;
}


input,
input[type=text], 
input[type=number], 
input[type=email],
input[type=url],
input[type=password],
textarea {
    outline: none;
    border: 1px solid $color-border-primary;
    border-radius: $border-radius-md;
    box-shadow: none;
    background-color: transparent;
    width: 100%;
    min-height: 40px;
    height: 100%;
    margin: 0;
    padding: 0 8px;
    &:focus {
        outline: none;
        box-shadow: none;
        border-color: $color-primary;
    }
    &.wsx-bg-base1 {
        background-color: $color-base-one;
    }
}

textarea {
    padding: 10px 8px;
}

code, kbd {
    padding: 1px 6px 2px;
    background-color: $color-border-primary;
    font-size: 12px;
    line-height: 1.334em;
    font-style: italic;
    color: $color-text-medium;
    margin-top: 4px;
    display: block;
    width: fit-content;
}


/* Common Style */
// Button Style
.wsx-btn {
    opacity: 1;
    .wsx-icon {
        &.wsx-color {
            &-primary {
                color: $color-primary;
                &:hover {
                    color: $color-secondary;
                }
            }
            &-secondary {
                color: $color-secondary;
                &:hover {
                    color: $color-primary;
                }
            }
        }
    }

    &-rescale {
        background-color: $color-base-two;
        border: none;
        color: $color-text-medium;
        width: 32px;
        height: 32px;
        font-size: 18px;
        font-weight: $font-weight-bold;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
        &-left {
            border-right: 1px solid $color-text-light;
        }
        &-right {
            border-left: 1px solid $color-text-light;
        }
        &:hover {
            background-color: $color-tertiary;
            color: $color-text-reverse;
        }
    }

    &.wsx-color {
        &-primary {
            color: $color-primary;
        }
        &-text-medium {
            color: $color-text-medium;
        }
        &-text-light {
            color: $color-text-light;
        }
        &-text-reverse {
            color: $color-text-reverse;
        }
        &-blue-dark {
            color: $color-blue-dark;
        }
    }

    &.wsx-bg {
        &-primary, &-negative {
            &:hover, &.active {
                background-color: $color-secondary;
                border-color: $color-secondary;
            }
        }
        &-secondary {
            color: $color-tertiary;
            &:hover, &.active {
                background-color: $color-primary;
                color: $color-text-reverse;
                border-color: $color-primary;
            }
        }
        &-tertiary, &-positive {
            &:hover, &.active {
                background-color: $color-primary;
                border-color: $color-primary;
            }
        }
    }

    &.disable {
        cursor: not-allowed;
        opacity: 0.4;
        pointer-events: none;
    }

    &-action {
        background-color: $color-base-three;
        border-radius: $border-radius-md;
        padding: 8px;
        color: $color-tertiary;
        line-height: 0;
        transition: all $transition-md;
        display: inline-flex; 
        align-items: center; 
        box-sizing: border-box;
        cursor: pointer;
        &:hover {
            color: $color-primary;
            background-color: $color-base-two;
        }
    }
}

.wsx-profile-list {
    width: 24px;
    height: 24px;
    color: $color-text-reverse;
    background-color: $color-light;
    border: 1px solid $color-base-one;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
}

.wsx-hr-line {
    width: 100%;
    height: 1px;
    background-color: $color-border-primary;
}

.wsx-item-divider-wrapper > {
    div, span {
        border-bottom: 1px solid $color-border-primary;
        padding-bottom: 20px;
        margin-bottom: 20px;
        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}

.wsx-curser-pointer {
    cursor: pointer;
}

.wsx-depends-message {
    margin-top: 8px;
    color: $color-secondary;
    font-size: 14px;
    a {
        color: $color-primary;
        font-weight: $font-weight-bold;
        &:hover, &:focus, &:visited {
            color: $color-positive;
        }
    }
}

.wsx-3dot {
    &-wrapper {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $border-radius-md;
        background-color: $color-base-three;
        cursor: pointer;
        transition: all $transition-md;
        position: relative;
        z-index: 0;
        &:hover, &.active {
            background-color: $color-primary;
            color: $color-text-reverse;
        }
    }
}

.wsx-notification-icon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $color-pink;
    position: absolute;
    top: -5px;
    right: -5px;
}

.wsx-note-wrapper {
    width: fit-content;
    padding: 10px 16px;
    border-radius: $border-radius-md;
    background-color: $color-base-three;
}

.wsx-help-message {
    font-size: 12px;
    line-height: 1.334em;
    color: $color-text-body;
    font-style: italic;
    margin-top: 6px;
    white-space: normal;
}

// Table Style
.wsx-lists-table {
    &-wrapper {
        overflow-x: auto;
    }
    width: 100%;
    overflow-y: auto;
    border-spacing: 0;
    border-collapse: collapse;
    border-radius: $border-radius-lg;
    background-color: $color-base-one;
    box-shadow: 0 0px 4px 0 $color-shadow-primary;
    &-header {
        color: $color-text-medium;
        font-weight: $font-weight-medium;
        background-color: $color-base-two;
        th {
            background-color: $color-base-two;
            font-weight: $font-weight-medium;
        }
    }
    &-column {
        padding: 20px 0;
        text-align: start;
        min-width: 110px;
        &:first-child {
            padding-left: 32px;
            border-radius: $border-radius-lg 0 0 0;
        }
        &:last-child {
            padding-right: 32px;
            border-radius: 0 $border-radius-lg 0 0;
        }
        &-user_id {
            min-width: unset;
            padding-left: 16px;
            padding-right: 10px;
        }
        &-action {
            text-align: end;
            min-width: unset;
            width: 32px;
            .wsx-btn, .wsx-3dot-wrapper {
                margin-left: auto;
            }
        }
        .wsx-ellipsis {
            max-width: 12rem;
        }
        a {
            color: $color-primary;
            text-decoration: underline;
            &:hover {
                color: orchid;
            }
        }
    }
    &-body {
        tr {
            border-bottom: 1px solid $color-border-primary;
            &:last-child {
                border-bottom: 0;
            }
            &.wsx-lists-empty td {
                border-radius: 0 0 $border-radius-lg $border-radius-lg;
                text-align: center;
            }
        }
        td {
            background-color: $color-base-one;
            &:first-child {
                border-radius: 0 0 0 $border-radius-lg;
            }
            &:last-child {
                border-radius: 0 0 $border-radius-lg 0;
            }
        }
    }
}
.wsx-checkbox-column {
    width: 20px;
    min-width: unset;
}

.wsx-row {
    &-actions-list {
        padding: 8px 16px;
        display: flex;
        align-items: center;
        gap: 8px;
        border-radius: $border-radius-md;
        color: $color-text-light;
        white-space: nowrap;
        cursor: pointer;
        &:hover {
            background-color: $color-base-three;
            color: $color-text-dark;
        } 
    }
    &-wrapper {
        background-color: $color-base-two;
        border-radius: $border-radius-lg;
        padding: 20px 24px 88px;
    }
    &-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        overflow-y: auto;
        margin-bottom: 48px;
    }
}

// Rules Container
.wsx-rules {
    &-header, &-row {
        display: grid;
        grid-template-columns: 3fr .7fr repeat(3, 2fr) 1fr;
        gap: 20px;
        align-items: center;
        width: 96.44%;
        min-width: fit-content;
    }
    &-header {
        padding: 10px 20px;
        > div {
            padding-right: 10px;
            white-space: nowrap;
        }
    }
    &-row {
        background-color: $color-base-one;
        border-radius: $border-radius-lg;
        padding: 12px 20px;
    }
}
.wsx-roles-wrapper {
    .wsx-rules {
        &-header, &-row {
            &.active {
                grid-template-columns: 3fr repeat(2, 2fr) 1fr;
            }
            grid-template-columns: 3fr 2fr 1fr;
        }
    }
}

.wsx-rule {
    &-item {
        height: 100%;
        max-height: 36px;
        min-width: 156px;
        padding: 2px 0;
        padding-right: 10px;
        border-right: 1px solid $color-border-secondary;
        display: flex;
        align-items: center;
        color: $color-text-light;
    }
    &-checkbox-with-title {
        display: flex;
        align-items: center;
        gap: 16px;
        color: $color-tertiary;
    }
    &-status {
        max-width: 76px;
        min-width: unset;
    }
}

// User List Style
.wsx-user-list-wrapper {
    .wsx-input-wrapper {
        max-width: 250px;
        background-color: $color-base-one;
        width: 100%;
        border-radius: $border-radius-md;
    }
}
.wsx-dropdown-actions-list {
    margin-bottom: 20px;
    &:last-child, &:only-child {
        margin-bottom: 0;
    }
}

.wsx-row-gap {
    &-48 {
        row-gap: 48px;
    }
    &-40 {
        row-gap: 40px;
    }
    &-32 {
        row-gap: 32px;
    }
    &-30 {
        row-gap: 30px;
    }
    &-24 {
        row-gap: 24px;
    }
    &-20 {
        row-gap: 20px;
    }
    &-16 {
        row-gap: 16px;
    }
    &-12 {
        row-gap: 12px;
    }
    &-8 {
        row-gap: 8px;
    }
    &-6 {
        row-gap: 6px;
    }
    &-4 {
        row-gap: 4px;
    }
}

.wsx-grow {
    &-3 {
        flex-grow: 3;
    }
    &-2 {
        flex-grow: 2;
    }
    &-1 {
        flex-grow: 1;
    }
}

.wsx-shrink-0 {
    flex-shrink: 0;
}

.wsx-basis {
    &-50 {
        flex-basis: 50%;
    }
    &-20 {
        flex-basis: 20%;
    }
    &-17 {
        flex-basis: 17%;
    }
    &-4 {
        flex-basis: 4%;
    }
}

.wsx-bg-text-medium {
    background-color: $color-text-medium;
}

// Shadow Style
.wsx-shadow-none {
    box-shadow: none;
}

/* RTL Support */
.rtl {
    .wsx-lists-table {
        &-column {
            &:first-child {
                padding-left: 0px;
                padding-right: 32px;
                border-radius: 0 12px 0 0;
            }
            &:last-child {
                padding-right: 0px;
                padding-left: 32px;
                border-radius: 12px 0px 0 0;
            }
            &-user_id {
                padding-left: 10px;
                padding-right: 16px;
            }
            .wsx-checkbox-option-wrapper {
                padding-left: 16px;
                padding-right: 0 !important;
            }
        }
        &-body td {
            &:first-child {
                border-radius: 12px 0 0 0px;
            }
            &:last-child {
                border-radius: 0px 0 0 12px;
            }
        }
    }
}

/* Responsive style */
@media (max-width: 1300px) {
    .wsx-rules-header > div {
        min-width: 144px;
        &.wsx-rule-checkbox-with-title {
            min-width: 156px;
        }
        &.wsx-rule-status {
            min-width: unset;
        }
    }
}
@media (max-width: 1200px) {
    .wsx-rules-header > div {
        min-width: 156px;
    }
}
@media (max-width: 836px) {
    .wsx-lists-table-body tr.wsx-lists-empty td {
        text-align: start;
    }

    .wsx-slg {
        &-justify-wrapper {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }

        &-flex {
            &-wrap {
                flex-wrap: wrap;
            }
        }

        &-center-hz {
            margin-left: auto;
            margin-right: auto;
        }

        &-w {
            &-full {
                width: 100%;
            }
            &-half {
                width: 50%;
            }
            &-fit {
                width: fit-content;
            }
        }

        &-p {
            &-32 {
                padding: 32px;
            }
            &-24 {
                padding: 24px;
            }
            &-16 {
                padding: 16px;
            }
            &-10 {
                padding: 10px;
            }
            &-4 {
                padding: 4px;
            }
            &-0 {
                padding: 0px;
            }
            &t {
                &-48 {
                    padding-top: 48px;
                }
                &-32 {
                    padding-top: 32px;
                }
                &-20 {
                    padding-top: 20px;
                }
            }
            &b {
                &-48 {
                    padding-bottom: 48px;
                }
                &-32 {
                    padding-bottom: 32px;
                }
                &-20 {
                    padding-bottom: 20px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .wsx-md {
        &-d {
            &-block {
                display: block;
            }
            &-flex {
                display: flex;
            }
            &-none {
                display: none;
            }
        }
        &-flex {
            &-column {
                flex-direction: column;
            }
            &-column-reverse {
                flex-direction: column-reverse;
            }
            &-reverse {
                flex-direction: row-reverse;
            }
        }
        &-column {
            &-1,
            &-2,
            &-3 {
                display: grid;
            }
            &-3 {
                grid-template-columns: repeat(3, 1fr);
            }
            &-2 {
                grid-template-columns: repeat(2, 1fr);
            }
            &-1 {
                grid-template-columns: 1fr;
            }
        }
        &-gap {
            &-48 {
                gap: 48px;
            }
            &-40 {
                gap: 40px;
            }
            &-32 {
                gap: 32px;
            }
            &-30 {
                gap: 30px;
            }
            &-24 {
                gap: 24px;
            }
            &-20 {
                gap: 20px;
            }
            &-16 {
                gap: 16px;
            }
            &-12 {
                gap: 12px;
            }
            &-8 {
                gap: 8px;
            }
            &-6 {
                gap: 6px;
            }
            &-4 {
                gap: 4px;
            }
        }
        &-important-gap-16 {
            gap: 16px !important;
        }

        &-w {
            &-full {
                width: 100%;
            }
            &-half {
                width: 50%;
            }
            &-fit {
                width: fit-content;
            }
        }

        &-p {
            &-32 {
                padding: 32px;
            }
            &-24 {
                padding: 24px;
            }
            &-16 {
                padding: 16px;
            }
            &-10 {
                padding: 10px;
            }
            &-4 {
                padding: 4px;
            }
            &-0 {
                padding: 0px;
            }
            &t {
                &-48 {
                    padding-top: 48px;
                }
                &-32 {
                    padding-top: 32px;
                }
                &-20 {
                    padding-top: 20px;
                }
            }
            &b {
                &-48 {
                    padding-bottom: 48px;
                }
                &-32 {
                    padding-bottom: 32px;
                }
                &-20 {
                    padding-bottom: 20px;
                }
            }
        }
    }
}
@media (max-width: 638px) {
    .wsx-justify-wrapper {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .wsx-smd {
        &-gap {
            &-48 {
                gap: 48px;
            }
            &-40 {
                gap: 40px;
            }
            &-32 {
                gap: 32px;
            }
            &-30 {
                gap: 30px;
            }
            &-24 {
                gap: 24px;
            }
            &-20 {
                gap: 20px;
            }
            &-16 {
                gap: 16px;
            }
            &-12 {
                gap: 12px;
            }
            &-8 {
                gap: 8px;
            }
            &-6 {
                gap: 6px;
            }
            &-4 {
                gap: 4px;
            }
        }
        &-important-gap-16 {
            gap: 16px !important;
        }


        &-p {
            &-32 {
                padding: 32px;
            }
            &-24 {
                padding: 24px;
            }
            &-16 {
                padding: 16px;
            }
            &-10 {
                padding: 10px;
            }
            &-4 {
                padding: 4px;
            }
            &-0 {
                padding: 0px;
            }
            &t {
                &-48 {
                    padding-top: 48px;
                }
                &-32 {
                    padding-top: 32px;
                }
                &-20 {
                    padding-top: 20px;
                }
            }
            &b {
                &-48 {
                    padding-bottom: 48px;
                }
                &-32 {
                    padding-bottom: 32px;
                }
                &-20 {
                    padding-bottom: 20px;
                }
            }
        }
    }
}
@media (max-width: 576px) {
    .wsx-sm {
        &-gap {
            &-48 {
                gap: 48px;
            }
            &-40 {
                gap: 40px;
            }
            &-32 {
                gap: 32px;
            }
            &-30 {
                gap: 30px;
            }
            &-24 {
                gap: 24px;
            }
            &-20 {
                gap: 20px;
            }
            &-16 {
                gap: 16px;
            }
            &-12 {
                gap: 12px;
            }
            &-8 {
                gap: 8px;
            }
            &-6 {
                gap: 6px;
            }
            &-4 {
                gap: 4px;
            }
        }
        &-important-gap-16 {
            gap: 16px !important;
        }

        &-flex {
            &-column {
                flex-direction: column;
            }
            &-column-reverse {
                flex-direction: column-reverse;
            }
            &-reverse {
                flex-direction: row-reverse;
            }
        }

        &-m {
            &-0 {
                margin: 0;
            }
            &t {
                &-0 {
                    margin-top: 0;
                }
            }
        }

        &-p {
            &-32 {
                padding: 32px;
            }
            &-24 {
                padding: 24px;
            }
            &-16 {
                padding: 16px;
            }
            &-10 {
                padding: 10px;
            }
            &-4 {
                padding: 4px;
            }
            &-0 {
                padding: 0px;
            }
            &t {
                &-48 {
                    padding-top: 48px;
                }
                &-32 {
                    padding-top: 32px;
                }
                &-20 {
                    padding-top: 20px;
                }
            }
            &b {
                &-48 {
                    padding-bottom: 48px;
                }
                &-32 {
                    padding-bottom: 32px;
                }
                &-20 {
                    padding-bottom: 20px;
                }
            }
        }
    }
}