/* =====================================
    wsx Flex Style ( justify, alignment)
=========================================*/
@mixin WsxFlexStyle($justify: flex-start, $align: flex-start) {
    display: flex !important;
    justify-content: $justify;
    align-items: $align;
}
/* =====================================
    WSX Font Style size, weight, height
=====================================*/
@mixin WsxTypographyStyle($size: 12px, $weight: 400, $lineHeight: 1.6em, $transformation: false) {
    font-size: $size !important;
    font-weight: $weight;
    font-style: normal;
    @if $lineHeight {
        line-height: $lineHeight !important;
    }
    @if $transformation {
        text-transform: $transformation !important;
    }
}

/* ===================================================  
    wsx Positioning Position, Top, Left, Right,bottom 
===================================================*/
@mixin WsxPositionStyle($style, $top: false, $left: false, $right: false, $bottom: false) {
    position: $style !important;
    @if $top {
        top: $top !important;
    }
    @if $left {
        left: $left !important;
    }
    @if $right {
        right: $right !important;
    }
    @if $bottom {
        bottom: $bottom !important;
    }
}