.wsx-date-picker {
    &-container {
        width: 100%;
        padding: 0 8px;
        .react-date-picker__wrapper {
            border: 1px solid var(--color-border-primary);
            border-radius: var(--border-radius-md);
            background-color: var(--color-base-one);
            padding: 3.5px 16px;
            input {
                &[type=number] {
                    border: none;
                    min-height: 20px;
                    border-radius: 0;
                    padding: 0 4px;
                    &:focus {
                        border: none;
                    }
                }
                &[type=date] {
                    min-height: 20px;
                }
            }
        }

        input {
            &[type="text"], &:focus[type="text"] {
                min-width: auto;
                line-height: 16px;
                padding: 0 4px;
                &.wsx-input {
                    &-month {
                        width: 34px;
                        &:not(:placeholder-shown) {
                            width: 24px;
                        }
                    }
                    &-day {
                        width: 26px;
                    }
                    &-year {
                        width: 120px;
                    }
                }
            }
        }
    }
    &-wrapper {
        justify-content: space-between;
        .wsx-icon {
            padding: 4px;
            &.wsx-btn-action {
                background-color: transparent;
                &:hover {
                    background-color: transparent;
                }
            }
        }
    }
    &-calendar {
        box-shadow: 0px 1px 10px 3px var(--color-shadow-dark);
        .wsx-days {
            row-gap: 0;
        }
        .wsx-day {
            border-radius: 50%;
            padding: 12px;
        }
    }
}

.wsx-control-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px 0;
    margin: 0 16px;
    .wsx-month {
        width: 100%;
        text-align: center;
        font-size: 18px;
        line-height: 1.4em;
        font-weight: var(--font-weight-medium);
        @media (max-width: 480px) {
            font-size: 18px;
        }
    }
    .wsx-calendar-controller {
        cursor: pointer;
        &:hover {
            color: var(--color-primary);
        }
    }
}
.wsx-days-of-week,
.wsx-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 10px;
}
.wsx-day {
    &-name {
        text-align: center;
        font-size: 12px;
        line-height: 1.34em;
        font-weight: var(--font-weight-medium);
        text-transform: uppercase;
        margin-bottom: 16px;
        padding: 2px 8px;
        @media (max-width: 480px) {
            padding: 2px 4px;
        }
    }
    padding: 6px 10px;
    text-align: center;
    font-size: 14px;
    line-height: 1.34em;
    color: var(--color-blue-dark);
    @media (max-width: 480px) {
        padding: 4px 6px;
        font-size: 16px;
    }
    &.active {
        cursor: pointer;
        &:hover {
            background-color: var(--color-base-three);
            color: var(--color-text-medium);
        }
    }
    &.in-range, &.hovered-range {
        background-color: var(--color-base-two);
        &:hover {
            background-color: var(--color-base-two);
        }
    }
    &.start, &.end {
        background-color: var(--color-primary);
        color: var(--color-text-reverse);
        &:hover {
            background-color: var(--color-primary);
            color: var(--color-text-reverse);
        }
    }
    &.start {
        border-radius: 8px 0 0 8px;
        &.end {
            border-radius: 8px;
        }
    }
    &.end {
        border-radius: 0 8px 8px 0;
    }

    &.selected {
        background-color: var(--color-primary);
        color: var(--color-text-reverse);
        &:hover {
            background-color: var(--color-primary);
            color: var(--color-text-reverse);
        }
    }
    &.today {
        background-color: var(--color-secondary);
        color: var(--color-text-reverse);
        &:hover {
            background-color: var(--color-secondary);
            color: var(--color-text-reverse);
        }
    }
}

/* RTL Support */
.rtl .wsx-calendar-controller {
    transform: rotate(180deg);
}