.wsx-date-range {
    &-width-selector {
        position: absolute;
        top: calc(100% + 4px);
        right: 0;
        z-index: 9;
        width: 844px;
        max-width: 92%;
        display: none;
        justify-content: end;
        @media (max-width: 617px) {
            left: 0;     
            margin: 0 auto;       
        }
    }
    &-wrapper {
        width: max-content;
        max-width: 82%;
        padding: 20px;
        margin-bottom: 0;
        @media (max-width: 617px) {
            margin: 0 auto;
        }
        .screen-reader-text {
            display: none;
        }
        .woocommerce-segmented-selection__container {
            width: max-content;
            background-color: var(--color-gray);
            gap: 8px;
            padding: 16px;
            border-radius: var(--border-radius-md);
            border: none;
        }
        .woocommerce-segmented-selection__item {
            position: relative;
            cursor: pointer;
            border: none !important;
            input {
                position: absolute;
                visibility: hidden;
            }
        }
        .woocommerce-segmented-selection__input:active+label .woocommerce-segmented-selection__label {
            background-color: var(--color-gray);
        }
        .woocommerce-segmented-selection__input:checked+label {
            .woocommerce-segmented-selection__label {
                background-color: var(--color-tertiary);
                color: var(--color-text-reverse);
                &::before {
                    content: none;
                }
            }
        }
        .woocommerce-segmented-selection__label {
            cursor: pointer;
            padding: 10px 27px;
            height: auto;
            text-align: center;
            border-radius: var(--border-radius-md);
            background-color: var(--color-base-one);
            color: var(--color-text-light);
            font-size: 12px;
            line-height: 1.34em;
            font-weight: var(--font-weight-medium);
            &::before {
                content: none;
            }
        }
    }
    &-title {
        font-weight: var(--font-weight-medium);
        text-align: center;
    }
}
.active .wsx-date-range-width-selector {
    display: flex;
}

/* RTL Support */
.rtl .wsx-date-range-width-selector {
    right: auto;
    left: 0;
}