.wsx-drag-drop-file {
    &-upload-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 4px;
        border: 2px dashed var(--color-primary);
        border-radius: var(--border-radius-lg);
        background-color: var(--color-base-three);
        width: auto;
        max-width: 95%;
        height: auto;
        min-height: 195px;
        padding: 16px 20px 20px;
        cursor: pointer;
        transition: all var(-transition-md);
        &:hover, &.active {
            background-color: var(--color-base-two);
            .wsx-icon {
                color: var(--color-primary);
            }
        }
    }
    &-details {
        background-color: var(--color-gray);
        border-radius: var(--border-radius-lg);
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        border: 1px solid var(-color-border-primary);
    }
} 