.wsx-drag {
    &-item {
        display: flex;
        align-items: center;
        gap: 12px;
        width: 100%;
        max-height: 50px;
        box-sizing: border-box;
        padding: 8px 16px;
        margin-bottom: 8px;
        border-radius: 8px;
        border: 1px solid var(--color-border-primary);
        background-color: var(--color-base-one);
        cursor: move;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            border-color: var(--color-primary);
        }
        &-value {
            max-width: 160px;
        }
    }
}