@import './CommonMixin.scss';
/* ===============================  
        Global & Common Style Start 
================================*/
.wsx-component-toggle-group-control, .wsx-font-12-normal {
    @include WsxTypographyStyle(); // size: 12, weight: 400, height 1.6em
} 
.wsx-font-14-normal {
    @include WsxTypographyStyle(14px, 400, 22px); // size: 14, weight: 400, height 22px
} 
.wsx-font-18-lightBold {
    @include WsxTypographyStyle(18px, 500, 22px); // size: 18, weight: 500, height: 22px;
} 
.wsx-marginTop_36 {
    margin-top: 36px !important;
}
.wsx-flex_space-between_center {
    @include WsxFlexStyle( space-between, center);
}
/* ===============================  Global & Common Style End  ================================*/

/* ===============================  Builder Main Container Start  ================================*/
.wholesalex-form-builder {
    display: flex;
    padding: 1px;
    .wsx-form-field { 
        transition: .5s;
    }
    .wholesalex-reset-btn {
        gap: 8px !important;
        padding: 5px 16px;
    }
    .wholesalex-fields-wrapper {
        border-radius: 4px;
        box-sizing: border-box;  // margin-top: 4px; why need dnt knows
        position: relative;
    }
    .wholesalex-login-form-title {
        position: relative;
    }
    .wsx-form-file.wsx-form-field,
    .wsx-reg-form-row .wsx-field-radio.wsx-form-field,
    .wsx-reg-form-row .wsx-form-checkbox.wsx-form-field  {
        .wsx-field-heading,
        .wsx-reg-form-row-setting {
            position: static !important;
        }
    }
}
.wholesalex-registration-form {
    .wsx-row-active,
    .wsx_variation_1, 
    .wsx_variation_3 {
        .wsx-form-field:not(.wsx-field-radio):not(.wsx-form-checkbox) {
            margin-top: 36px !important;
        }
        .wholesalex-registration-form-column.wsx-empty-column,
        .wholesalex-registration-form-column-spacer {
            margin-top: 36px;
        }
    }
    .wsx_variation_2, 
    .wsx_variation_5 {
        .double-column .wholesalex-registration-form-column {
            @include WsxFlexStyle(flex-end, center);
            flex-direction: column;
        }
    }
}
/* ===============================  Builder Main Container End  ================================*/

/* ===============================  Actual Form Container Start ================================*/
.wsx-form-builder {
    @include WsxFlexStyle(flex-start, center);
    flex-direction: column;
    padding: 0px 50px;
}
.wholesalex-form-builder__form {
    width: 100%;
    .wholesalex-form-builder-header { // @include WsxFlexStyle( space-between, center);
        flex-wrap: wrap;
        background: #fff;
        padding: 11px 24px 12px;
        max-height: 64px;
        border-bottom: 1px solid #E6E5E5;
        position: sticky;
        top: 34px;
        z-index: 999;
        &__heading {
            color: #343A46;
            @include WsxTypographyStyle(20px, 500, 28px);
        }
        &__right {
            display: flex;
            gap: 16px;
        }
    }
}
.wholesalex-form-builder-container {
    display: block;
    border-radius: 8px;
    background: #FFF;
    max-width: 1280px;
    margin: 40px auto;
    margin: 50px 50px 0px;
    width: 100%;
    .is-active {
        svg, path {
            fill: #6C6CFF;
        }
    }
}
.wholesalex-registration-form,
.wholesalex-login-form {
    flex: 1;
    .wsx-reg-form-row {
        border-radius: 2px;
        padding: 10px 16px 16px;
        box-sizing: border-box;
        border: 1px solid transparent;
        cursor: pointer;
    }
    //Dragable 
    .move-row-icon {
        cursor: move !important;
    }
    .wholesalex-registration-form-column.left {
        order: 0;
    }
    .wholesalex-registration-form-column.right {
        order: 1;
    }
    //Row Setting
    .wsx-reg-form-row-setting {
        display: flex;
        * {
            cursor: pointer;
        }
    }
    .wsx-header-popup_control {
        @include WsxPositionStyle(absolute, 6px, false, -9px);
    }
    .wsx-row-active .wsx-reg-form-row {
        border-radius: 0px 2px 2px 2px;
        border: 1px solid #E4E4FF;
        background: rgba(250, 250, 255, 0.08);
    }
    // Double Column
    .wholesalex-registration-form-row.double-column {
        @include WsxFlexStyle(flex-start, flex-end);
        gap: 5px;
        .wholesalex-registration-form-column {
            flex: 1;
        }
        .wholesalex-form-builder-field-inserter {
            height: 40px;
        }
    }
}
.wholesalex-form-wrapper {
    button.wsx-register-btn {
        margin: 16px;
        margin-left: 0px;
    }
    .wholesalex-login-form {
        flex: 1;
        .wsx-form-field {
            margin-top: 0px !important;
        }
    }
}
.wholesalex-registration-form {
    &.wsx-not-empty {
        & > .wholesalex-form-builder-field-inserter {
            height: auto !important;
            border: none !important;
            margin-top: 20px;
        }
        .wsx-fields-container {
            .wsx-reg-form-row-wrapper:last-child {
                .wsx-reg-form-row {
                    margin-bottom: 0px !important;
                }
            }
        }
    }
    .wsx-row-active {
        .wholesalex-registration-form-column {
            &:not(.left) {
                margin-top: 40px;
            }
        }
    }
    .wsx-disable-field {
        opacity: 0.6;
    }
    .wsx-reg-form-heading {
        margin-bottom: 15px !important;
        width: auto;
    }
    .wsx-reg-form-row-wrapper {
        position: relative;
        & > div.wsx-reg-form-row-setting {
            @include WsxPositionStyle(absolute, -31px, false); //position: absolute !important; // top:-31px;
        }
    }
    .wsx-reg-form-row {
        @include WsxFlexStyle(space-between, stretch );
        gap: 8px;
        & > div {
            width: 100%;
        }
        .wsx-reg-form-row-setting {
            justify-content: flex-end;
        }
        .wholesalex-registration-form-column {
            position: relative;
            &:is(.right) {
                margin-top: 0px;
            }
            .wsx-field-heading { // @include WsxFlexStyle(space-between, center);
                width: 100%;
                height: 36px;
                @include WsxPositionStyle(absolute, 0px, false);
            }
            .wsx-reg-form-row-setting {
                @include WsxPositionStyle(absolute, 0px, false, 0px);
                z-index: 1;
            }
            & > .wholesalex-form-builder-field-inserter {
                height: 100% !important;
            }
        }
        & > .wholesalex-registration-form-column-spacer,
        & > div .wholesalex-registration-form-column-spacer {
            width: fit-content !important;
            border: 2px solid #CFCFCF;
            padding: 3px;
            border-top: 0px;
            border-bottom: 0px;
        }
    }
}
.wsx-reg-form-row-setting {
    & > * {
        height: 32px;
        box-sizing: border-box;
        border: 1px solid #E4E4FF;
        background-color: #FAFAFF;
        &:hover .wsx-form-field {
            margin-top: 36px;
        }
        &:not(:last-child) {
            border-right: 0px !important;
        }
        &:first-child {
            border-radius: 2px 0px 0px 2px;
        }
        &:last-child {
            border-radius: 0px 2px 2px 0px;
        }
        &:hover {
            background-color: #E4E4FF;
        }
    }
    svg {
        padding: 7px;
    }
}
.wholesalex-registration-form .wsx-reg-fields.wsx-fields-container {
    margin-left: -16px;
}
/* ===============================  Actual Form Container End ================================*/

/* ===============================  Sidebar Parent Starts ================================*/
.wsx-sidebar-container {
    transition: .7s;
    width: 100%;
    max-width: 300px;
}
.wholesalex-form-builder__typography-setting {
    transition: 1s;
    animation: wsxSidebarHide .3s;
    &::-webkit-scrollbar { /* width */
        width: 6px;
        border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-thumb:hover { /* Handle */
        background: #C8C8D6;
    }
    .wsx-chose-input-wrap {
        display: flex;
        flex-direction: column;
        max-height: 75px;
        border-radius: 2px;
        border: 1px solid #E9E9F0;
        padding: 11px 12px;
        height: 100%;
        .wholesalex-choose-input-selected {
            @include WsxFlexStyle(center, center);
            gap: 12px;
            cursor: pointer;
        }        
    } 
    /*------Choose Input Field Variation Start-------------*/
    .wholesalex-choose-input-field-label {
        color: var(--2, #343A46);
        @include WsxTypographyStyle(14px, 500, 22px);
        margin-bottom: 8px;
    }
    .wholesalex-choose-input-field-wrap {
        position: relative;
        background-color: white;
        img {
            max-width: 100%;
            width: 270px;
            margin-top: 8px;
            padding-top: 6px;
            border-top: 1px solid #e9e9f0;
        }
    }
    .wholesalex-choose-input-dropdown-icon {
        cursor: pointer;
    }
    .wholesalex-choose-input-field-popup {
        display: flex;
        flex-direction: column;
    }
    /*------Choose Input Field Variation End-------------*/
}
.wholesalex-choose-input-field-popup {
    ul {
        width: auto;
        max-height: 420px;
        background: #fff;
        margin: 0px 16px;
        border-radius: 2px;
        border: 1px solid #E9E9F0;
        box-sizing: border-box;
        box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
        overflow: auto;
        @include WsxPositionStyle(absolute, calc(100% + 2px), false, 0px); // top: calc(100% + 2px);
        z-index: 9999;
        transition: .4s;
        li {
            cursor: pointer;
            border: 3px solid transparent;
            margin: 0px 5px;
            padding: 10px 10px 7px;
            animation: premadeOverflowAnimation 1.5s;
            @include WsxTypographyStyle(11px, 500, 1.6em);
            &.wsx-selected {
                border: 3px solid;
                border-color: #6c6cff;
            }
            &:hover {
                border-color: #6c6cff;
            }
        }
        &::-webkit-scrollbar {
            width: 3px;
            background-color: transparent;
            border-radius: 0;
        }
        &:hover {
            &::-webkit-scrollbar, &::-webkit-scrollbar-thumb  {
                width: 3px;
                border-radius: 0;
                height: 3px;
            }
            &::-webkit-scrollbar {
                transition: 400ms;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #2c2c2c;
            }
        }
    }
}
// Color Selection Section
.wholesalex-form-builder-select-color { // @include WsxFlexStyle(space-between, center);
    border-radius: 0px 0px 2px 2px;
    box-sizing: border-box;
    border-top: none;
    cursor: pointer;
    &.is-open {
        background: #fafaff;
        transition: 0.5s;
        .selected-color-code {
            border-color: #e5e5e5;
        }
    }
    &:hover {
        .select-color-details {
            color: var(--color-primary-hover);
        }
    }
}
.wholesalex-form-builder__typography-setting {
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    border-left: 1px solid #E6E5E5;
    max-height: 100vh;
    overflow-y: scroll;
    @include WsxPositionStyle(sticky, 30px); // position: sticky; // top: 30px;
    .components-popover {
        will-change: transform;
        z-index: 1000000
    }
    .components-popover.is-expanded {
        @include WsxPositionStyle(fixed, 0, 0, 0); // position: fixed; // left: 0; // right: 0; // top: 0;
        bottom: 0;
        z-index: 1000000 !important
    }
    .components-popover__content {
        background: #fff;
        border-radius: 2px;
        box-shadow: 0 0 0 1px #ccc, 0 .7px 1px rgba(0, 0, 0, .1), 0 1.2px 1.7px -.2px rgba(0, 0, 0, .1), 0 2.3px 3.3px -.5px rgba(0, 0, 0, .1);
        box-sizing: border-box;
        width: min-content;
        max-height: 658px !important;
    }
}
/* ===============================  Sidebar Parent End  ================================*/

/* ===============================  Sidebar & Field Control Common Style Start  ================================*/
// Style and Formatting
.wholesalex-form-builder-select-color__dropdown {
    background-color: white;
}
.wsx-color-picker-content {
    z-index: 999999;
    box-shadow: 8px 9px 16px 0px #0000001f;
}
.select-color-details {
    display: flex;
    gap: 8px;
}
.select-color-label {
    color: #343A46;
}
.wholesalex-style-formatting-field {
    @include WsxFlexStyle(space-between, center);
    padding: 10px 8px;
    box-sizing: border-box;
    border-top: none;
}
.wholesalex-style-formatting-field-content {
    @include WsxFlexStyle(flex-start, center);
    max-width: 88px !important;
    box-sizing: border-box;
    input {
        width: 100%;
    }
}
select.wholesalex-style-formatting-field-content {
    height: 25.6px;
    min-height: unset;
}
.wholesalex-size-selector {
    input[type="number"] {
        height: 24px;
        min-height: unset;
        font-size: 12px;
        max-width: 40px;
        -moz-appearance: textfield;
        margin: 0px;
        border-radius: 0px;
        border: none;
        padding: 5px;
        text-align: center;
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &:focus {
            box-shadow: unset;
        }
    }
    input[type='text'] {
        height: 24px;
        min-height: unset;
        font-size: 12px;
        width: 86px;
        -moz-appearance: textfield;
        margin: 0px;
        border-radius: 0px;
        border: none;
        padding: 5px;
        text-align: center;
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &:focus {
            box-shadow: unset;
        }
    }
    .decrement,
    .increment {
        height: 24px;
        width: 24px;
        border-radius: 0px;
        background: #D9D9D9;
        cursor: pointer;
        &:hover {
            background: #6c6c6c;
            color: white;
            border-color: #6c6c6c;
            svg path {
                stroke: white;
            }
        }
        svg {
            margin-top: 5px;
            margin-left: 5px;
        }
        input {
            margin: 0px;
        }
    }
}
.wholesalex-style-formatting-field-label,
.components-custom-select-control__label {
    color: #343A46;
    margin: 0px;
    text-transform: capitalize;
}
.components-custom-select-control__label {
    @include WsxTypographyStyle();
}
.wholesalex-style-formatting-field-label-meta {
    color: #6C6E77;
    margin-left: 4px;
    text-transform: lowercase;
}
.wholesalex-text-transform-control__buttons {
    display: flex;
    gap: 5px;
    padding: 3px;
    width: 88px;
    height: 25.6px;
    ;
}
.wholesalex-text-transform-control__button {
    cursor: pointer;
    height: 16px;
    svg {
        fill: #6C6E77 !important;
        width: 16px;
        height: 16px;
    }
    &:not(.is-pressed):hover {
        svg {
            fill: var(--color-primary-hover) !important;
        }
    }
    &.is-pressed {
        border-radius: 0.5px;
        background: #D9D9D9;
    }
}
// Color Indicator
.component-color-indicator.wholesalex-form-builder__color {
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #F2F2F2;
}
.wholesalex_tooltip {
    margin-left: 10px;
    .wholesalex_tooltip_icon {
        cursor: pointer;
    }
    .tooltip-content {
        left: auto;
        &::before {
            left: 69px;
        }
    }
}
.wsx-form-setting {
    & > div:last-child {
        margin-bottom: 0px !important;
    }
    .wsx-field-condition-desc {
        @include WsxFlexStyle(space-between, center);
        flex-direction: row-reverse;
        font-weight: 500;
        text-transform: capitalize;
    }
    .wsx-setting-wrap {
        margin-bottom: 24px;
    }
    .wholesalex_discount_options {
        overflow-y: scroll !important;
        overflow: hidden;
    }
    .wsx-field-condition-wrap {
        border: 1px solid #8888;
        display: flex;
        width: fit-content;
        .wsx-field-condition-btn {
            padding: 9px 16px;
            width: 55px;
            text-align: center;
            border: 1px solid #6c6cff;
            &:not(:last-child) {
                border-right: 0px;
            }
            &:hover,
            &.wsx-is-active {
                color: #fff;
                background-color: #6c6cff;
            }
        }
    }
    .wsx-setting-label,
    .wsx-select-wrap select 
    .wsx-toggle-wrap .wholesalex_field_label,
    .wsx-input-wrap .wholesalex_field_label,
    .wsx-select-wrap .wholesalex_field_label {
        color: #343A46;
        @include WsxTypographyStyle();
    }
    .wsx-toggle-wrap {
        @include WsxFlexStyle(space-between, center);
        flex-wrap: wrap;
        .wsx-toggle-setting {
            @include WsxFlexStyle(center, center);
            flex-direction: row-reverse;
            gap: 12px;
        }
    }
    .wsx-input-wrap {
        .wholesalex_field_label {
            margin-top: 10px;
            max-width: 85px;
            width: 100%;
        }
        .wsx-input-setting {
            // @include WsxFlexStyle(center, center);
            // flex-direction: row;
            display: grid;
            grid-template-columns: 100px 1fr;
            width: 100%;
            align-items: center;
        }
        .wholesalex_input_field__content {
            width: 100%;
        }
    }
    .wsx-select-wrap {
        select {
            width: 100% !important;
            max-width: 100%;
            height: 40px !important;
        }
        .wsx-setting-label {
            display: block;
            margin-bottom: 5px;
            width: fit-content;
        }
    }
}
.wsx-input-container {
    width: 100%;
}
/* ===============================  Sidebar & Field Control Common Style End ================================*/

/* ===============================  Input Field Control Popup Settings Start ================================*/
.wholesalex-popup-content {
    padding: 24px 24px;
}
/* Field Setting Tab*/
.wholesalex-popup-tab-heading {
    @include WsxFlexStyle(space-evenly, flex-start);
    padding: 24px 24px 0px;
    // whx-active-tab
    .whx-tab-heading {
        cursor: pointer;
        width: 100%;
        background: #f5f5f5;
        text-align: center;
        font-weight: 500;
        padding: 16px 0px;
        display: flex;
        justify-content: space-evenly;
        gap: 11px;
        &:first-child {
            border-top-left-radius: 4px;
        }
        &:last-child {
            border-top-right-radius: 4px;
        }
        .wsx-form-tutorial {
            cursor: pointer;
            @include WsxTypographyStyle(10px, 400, 14px);
            border: .5px solid #6C6E77;
            border-radius: 10px;
            padding: 1px 3px 1px 2px;
            @include WsxFlexStyle(center, center);
            gap: 2px;
            border-color: #6c6cff;
            display: none !important;
            svg path {
                fill: #6c6cff;
            }
        }
        &.whx-active-tab {
            color: #fff;
            background: #6c6cff;
            .wsx-form-tutorial {
                display: flex !important;
                border-color: #fff;
                svg path {
                    fill: #fff;
                }
            }
        }
    }
}
.wholesalex_tiers_fields {
    @include WsxFlexStyle(flex-start, flex-end);
    gap: 10px;
}
.wholesalex-tier {
    gap: 10px;
    @include WsxFlexStyle(space-between, flex-start);
    width: 100%;
    .tier-field {
        width: 100%;
    }
}
.wsx-field-conditions-tier {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 16px 24px 24px;
    margin-top: 40px;
    background: whitesmoke;
    // width: calc(100% + 48px);
    box-sizing: border-box;
    @include WsxPositionStyle(relative, -24px); // position: relative;// left: -24px;
    select,
    input[type=text] {
        height: 40px !important;
        width: 100% !important;
    }
}
.wholesalex-tier-add {
    @include WsxTypographyStyle(var(--wholesalex-size-20), 400, 22px);
    padding: 9px 22px 9px 22px;
    box-sizing: border-box;
    height: 40px;
    @include WsxFlexStyle(center, center);
    color: white;
    border-radius: 3px;
    line-height: 21px;
    background-color: var(--wholesalex-primary-color);
}
.wholesalex-tier-delete {
    @include WsxTypographyStyle(var(--wholesalex-size-20), 400, 22px);
    color: white;
    background-color: #d54013;
    border-radius: 2px;
    padding: 10px 13px 9px 14px;
}
span.wsx-field-condition-btn.wsx-is-active {
    background-color: yellow;
}
.wholesalex-field-conditions {
    padding-bottom: 0px !important;
}
.wsx-reg-form-row-setting {
    z-index: 9;
}
/* ===============================  Input Field Control Popup Settings End ================================*/

/* ===============================  Login Registration Header Start ================================*/
.wholesalex-disabled {
    opacity: 0.6;
}
.wsx-popup-close {
    cursor: pointer;
    &:hover path {
        stroke: #6C6CFF;
    }
}
.wsx-field-insert-popup {
    width: 496px;
    flex-shrink: 0;
}
.wholesalex-field-insert-btn {
    cursor: pointer;
    color: white;
    height: 16px;
    width: 16px;
    font-size: 16px;
    border-radius: 16px;
    background: #343A46;
    padding: 8px;
    &:hover {
        background-color: #22252d;
    }
    &.is-active {
        background: linear-gradient(180deg, #6C6CFF 0%, #4747D9 100%);
    }
}
.wholesalex-popup-heading {
    padding: 9px 24px;
    color: #343A46;
    border-radius: 8px 8px 0px 0px;
    background: rgba(108, 108, 255, 0.06);
    padding-right: 10px;
    & > div {
        @include WsxFlexStyle(center, center);
        gap: 14px;
    }
}
.wholesalex-form-builder-toogle {
    position: relative;
}
.wholesalex-form-builder-field-poup {
    position: relative;
    animation: overflowAnimation .3s;
    max-height: 450px;
    ul, li {
        padding: 0px;
        margin: 0px;
    }
    .wholesalex-popup-heading {
        font-weight: 500;
    }
    .wsx-insert-field-btn {
        display: inline-block;
        padding: 6px 12px;
        gap: 8px;
        border-radius: 2px;
        border: 1px solid rgba(108, 108, 255, 0.20);
        background: rgba(108, 108, 255, 0.12);
        margin-right: 4px;
        margin-bottom: 4px;
        cursor: pointer;
        &:hover {
            background: rgba(108, 108, 255, 0.20);
        }
    }
    .wholesalex-form-builder-popup:not(:first-child) .wholesalex-popup-heading {
        position: static !important;
    }
}
.wholesalex-form-title-style-column-heading {
    color: #6C6E77;
    border-bottom: 1px solid #E9E9F0;
    margin-bottom: 16px;
}
.wsx-reg-form-heading,
.wholesalex-login-form-title {
    cursor: pointer;
    border-radius: 2px;
    box-sizing: content-box;
    padding: 18px 16px 22px;
    border-radius: 0px 2px 2px 2px;
    border: 1px solid #E4E4FF;
    background: rgba(250, 250, 255, 0.08);
    transition: .3s;
    // &:hover {
    //     padding: 18px 16px 22px;
    // }
}
.field-setting-icon.wsx-active path {
    fill: #6C6CFF !important;
}

.wholesalex-form-title-style-column {
    flex: 1;
    .increment,
    .decrement {
        height: 36px;
        width: 36px;
        @include WsxFlexStyle(center, center);
        svg {
            margin: 0px;
            width: 20px;
            height: 20px;
        }
    }
    .wholesalex-form-title-style-row {
        margin-bottom: 16px;
    }
    .wholesalex-style-formatting-field {
        height: unset;
    }
    .wholesalex-text-transform-control {
        display: flex;
        .wholesalex-style-formatting-field-content {
            align-items: center !important;
            justify-content: space-around !important;
        }
    }
    .wholesalex-form-builder-select-color {
        height: 36px;
        padding-left: 12px;
    }
    .wholesalex-text-transform-control__buttons {
        height: 36px;
    }
    .wholesalex-style-formatting-field-content {
        width: 100%;
        max-width: unset !important;
        justify-content: space-between;
        border-radius: 1px;
        border: 1px solid #E9E9F0;
    }
    .wholesalex-size-selector input[type=number] {
        height: 36px;
        width: 100%;
        max-width: 100% !important;
        border: 1px solid #E9E9F0;
    }
}
.wholesalex-form-builder-dropdown-content {
    border-radius: 8px;
    border: 1px solid #E4E4FF;
    background: #FFF;
    box-shadow: 0px 24px 40px 8px rgba(108, 108, 255, 0.22);
    width: 600px;
    max-height: 500px;
    z-index: 99999;
    &.wsx-setting-popup_control {
        top: 94px !important;
    }
    &.wsx-header-popup_control {
        translate: -30% !important;
        top: 72px;
    }
    .wholesalex-popup-heading {
        @include WsxPositionStyle(sticky, 0px); // position: sticky; // top: 0px;
        z-index: 9999;
        background-color: rgb(246, 246, 255);
        @include WsxFlexStyle(space-between, center);
        &.wsx-popup-last {
            position: static !important;
            border-radius: 0px;
        }
    }
    .components-popover__content::-webkit-scrollbar {
        width: 6px;
        transition: 400ms;
        background-color: #F6F6FF;
        padding: 1px;
    }
    .components-popover__content::-webkit-scrollbar-thumb {
        width: 6px;
        height: 80px;
        background-color: #C8C8D6;
    }
    .components-popover__content:hover {
        .components-popover__content::-webkit-scrollbar-thumb {
            width: 6px;
            height: 80px;
            background-color: #C8C8D6;
        }
    }
}
.wholesalex-form-builder-typography-setting-header {
    @include WsxFlexStyle(center, center);
    flex-wrap: wrap;
    max-height: 64px;
    border-bottom: 1px solid #E6E5E5;
    padding: 21px 24px;
    color: #343A46;
    max-width: 300px;
    @include WsxTypographyStyle(14px, 500, 22px);
    @include WsxPositionStyle(sticky, 0px); // position: sticky; // top: 30px;
    z-index: 999;
    background-color: #fff;
}
.wholesalex-popup-content.wholesalex-form-title-style {
    display: flex;
    gap: 48px;
}
.wholesalex-form-title-style .wholesalex-style-formatting-field {
    border: none;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.wsx-form-title-setting .wholesalex-form-title-style-column-heading {
    font-weight: 500;
    line-height: 32px;
}
.wholesalex-form-builder-field-inserter,
.wholesalex-registration-form-column>.wholesalex-form-builder-field-inserter {
    width: 100%;
    @include WsxFlexStyle(center, center);
    border-radius: 2px;
    border: 1px dashed #E4E4FF;
    height: 120px;
    position: relative;
    box-sizing: border-box;
}
@keyframes overflowAnimation {
    0% { top: -100px; }
    100% { top: 0px; }
}
select.wholesalex-style-formatting-field-content {
    height: 36px;
}
.wholesalex-form-title-style-row .wholesalex-form-builder-select-color {
    border: none;
    width: 100%;
    flex-direction: row-reverse;
    .select-color-details {
        border-left: 1px solid #E9E9F0;
    }
    .wholesalex-form-builder__color {
        height: 28px;
        width: 28px;
        border-radius: 1px;
        border: 4px solid #FAF7FC;
    }
    .selected-color-code {
        text-transform: uppercase;
        color: #6C6E77;
        padding: 6px;
        border-radius: 1px;
        width: 88px;
        border: none;
    }
}
.wsx-editable-area {
    background-color: transparent !important;
    border: transparent !important;
    box-shadow: unset !important;
}
.wsx-editable.wsx-register-btn {
    svg {
        fill: var(--wsx-form-button-color) !important; 
        path {
            stroke: var(--wsx-form-button-color) !important;
        } 
    }
}
.wsx-editable.wsx-register-btn {
    input {
        text-align: center !important; 
        color: var(--wsx-form-button-color) !important;
        @include WsxTypographyStyle( var(--wsx-form-button-font-size), var(--wsx-form-button-weight), 1.6em);
        text-transform: var(--wsx-form-button-case-transform);
        display: inline-block;
        text-align: center;
        box-sizing: border-box;
        padding-block: 0px !important;
        padding-inline: 0px !important;
        width: 80%;
    }
    &:hover input {
        color: var(--wsx-form-button-hover-color) !important;
    }
}
.wsx-editable.wsx-login-btn {
    svg {
        fill: var(--wsx-login-form-button-color) !important;
        path {
            stroke: var(--wsx-login-form-button-color) !important;
        } 
    }
}
.wsx-editable.wsx-login-btn {
    input {
        @include WsxTypographyStyle( var(--wsx-form-button-font-size), var(--wsx-form-button-weight), 1.6em);
        color: var(--wsx-login-form-button-color) !important;
        text-align: center !important;
        text-transform: var(--wsx-form-button-case-transform);
        display: inline-block;
        box-sizing: border-box;
        padding-block: 0px !important;
        padding-inline: 0px !important;
        width: 80%;
    }
    &:hover input {
        color: var(--wsx-login-form-button-hover-color) !important;
    }
}
.wsx-login-form-title-text.wsx-editable .wsx-editable-area {
    @include WsxTypographyStyle( var(--wsx-login-title-font-size), var(--wsx-login-title-font-weight), 1.6em);
    color: var(--wsx-login-title-color);
    text-transform: var(--wsx-login-title-case-transform);
    width: 100%;
    padding-block: 0px !important;
    padding-inline: 0px !important;
}
.wholesalex-login-form-subtitle-text.wsx-editable .wsx-editable-area {
    width: 100%;
    color: var(--wsx-login-description-color);
    @include WsxTypographyStyle( var(--wsx-login-description-font-size), var(--wsx-login-description-font-weight), 1.6em);
    text-transform: var(--wsx-login-description-case-transform);
    padding-block: 0px !important;
    padding-inline: 0px !important;
}
.wsx-editable {
    display: flex;
    align-items: center;
}
.wsx-login-form-title-text.wsx-editable {
    width: calc(100% - 34px);
    svg {
        fill: var(--wsx-login-title-color);
        path {
            stroke: var(--wsx-login-title-color);
        } 
    }
}
.wholesalex-login-form-subtitle-text.wsx-editable {
    width: calc(100% - 34px);
    svg {
        fill: var(--wsx-login-description-color);
        path {
            stroke: var(--wsx-login-description-color);
        } 
    }
}
.wsx-reg-form-heading-text.wsx-editable .wsx-editable-area {
    color: var(--wsx-reg-title-color);
    @include WsxTypographyStyle( var(--wsx-reg-title-font-size), var(--wsx-reg-title-font-weight), 1.6em);
    text-transform: var(--wsx-reg-title-case-transform) !important;
    width: 100%;
    padding-block: 0px !important;
    padding-inline: 0px !important;
}
.wsx-reg-form-heading-text.wsx-editable {
    width: calc(100% - 34px);
    svg {
        fill: var(--wsx-reg-title-color);
        path {
            stroke: var(--wsx-reg-title-color);
        } 
    }
}
.wholesalex-registration-form-subtitle-text.wsx-editable .wsx-editable-area {
    color: var(--wsx-reg-description-color);
    @include WsxTypographyStyle( var(--wsx-reg-description-font-size), var(--wsx-reg-description-font-weight), 1.6em);
    text-transform: var(--wsx-reg-description-case-transform);
    width: 100%;
    padding-block: 0px !important;
    padding-inline: 0px !important;  
}
.wholesalex-registration-form-subtitle-text.wsx-editable {
    width: calc(100% - 34px);
    svg {
        fill: var(--wsx-reg-description-color);
        path {
            stroke: var(--wsx-reg-description-color);
        } 
    } 
}
.wsx-reg-form-heading,
.wholesalex-login-form-title {
    .wholesalex-form-builder-toogle {
        visibility: visible;
    }
    .dashicons.dashicons-admin-generic {
        cursor: pointer;
        height: 18px;
        font-size: 18px;
        border: 1px solid #E4E4FF;
        border-radius: 2px;
        background: #FAFAFF;
        @include WsxPositionStyle(absolute, false, false, 16px); // position: absolute;// right: 16px;
        padding: 5px;
        &.wsx-active,
        &.is-active {
            color: #6C6CFF !important;
        }
        &:hover {
            background: #E4E4FF;
        }
    }
    .wholesalex-popup-content.wholesalex-form-title-style {
        display: flex;
        gap: 48px;
    }
    .wholesalex-form-title-style-column-heading {
        color: #6C6E77;
        border-bottom: 1px solid #E9E9F0;
        margin-bottom: 16px;
    }
    .wholesalex-form-title-style .wholesalex-style-formatting-field {
        border: none;
        padding: 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
    select.wholesalex-style-formatting-field-content {
        height: 36px;
    }
    .wholesalex-form-title-style-column {
        flex: 1;
        .wholesalex-form-title-style-row {
            margin-bottom: 16px;
        }
        .wholesalex-form-title-style-row .wholesalex-form-builder-select-color {
            border: none;
            width: 100%;
        }
        .wholesalex-text-transform-control__buttons {
            height: 36px;
        }
        .wholesalex-style-formatting-field {
            height: unset;
        }
        .wholesalex-style-formatting-field-content {
            width: 100%;
            max-width: unset;
            justify-content: space-between;
        }
        .wholesalex-size-selector input[type=number] {
            height: 36px;
            width: 100%;
        }
        .increment,
        .decrement {
            height: 36px;
            width: 36px;
            @include WsxFlexStyle(center, center);
            svg {
                margin: 0px;
                width: 20px;
                height: 20px;
            }
        }
    }
}
/* ===============================  Login & Registration Header End ================================*/

/* ===============================  Sidebar Pre-made Popup Start ================================*/
.wsx-reg-premade { // Premade Popup
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(52, 58, 70, 0.50);
    padding: 40px 40px 40px 200px;
    box-sizing: border-box;
    @include WsxPositionStyle(fixed, 0px, 0px); // position: fixed; // top: 0px; // left: 0px;
    @include WsxFlexStyle(center, center);
}
.wsx-reg-premade_container {
    max-width: 1280px;
    background: #fff;
    max-height: 1011px;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none;  /* Firefox 64 */
    width: 100%;
    height: 100%;
    border-radius: 16px;
    &::-webkit-scrollbar {
        display: none;
    }
    .wsx-reg-premade_heading {
        color: #343A46;
        @include WsxTypographyStyle(20px, 500, 28px);
        background-color: #F6F6FF;
        padding: 13px 24px; // @include WsxFlexStyle(space-between, center);
        @include WsxPositionStyle(sticky, 0px); // position: sticky; // top: 0px;
        z-index: 999;
    }
    .wsx-reg-premade_close {
        cursor: pointer;
        display: block;
        background: rgba(52, 58, 70, 0.10);
        padding: 0px;
        line-height: 0px;
        padding: 4px;
        border-radius: 4px;
        &:hover path {
            stroke: #6c6cff;
        }
    }
}
.wsx-reg-premade__body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 24px;
    animation: premadeOverflowAnimation 1s;
    .wsx-premade-item {
        border-radius: 4px 4px 0px 0px;
        border: 1px solid rgba(228, 228, 255, 0.94);
        background: #FCFCFC;
        text-align: center;
        max-width: 390px;
        width: 100%;
        margin: 0 auto;
        &:hover {
            box-shadow: 0px 16px 36px 0px rgba(108, 108, 255, 0.12);
        }
        .wsx-premade-media {
            text-align: center;
            height: 220px;
            @include WsxFlexStyle(center, center);
            padding: 16px;
            cursor: pointer;
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}
.wsx-premade-content {
    text-align: left;
    color: #6C6E77;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #E5E5FF;
    background: #F6F6FF; // @include WsxFlexStyle(space-between, center);
    padding: 10px;
    flex-wrap: wrap;
    gap: 10px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    .wsx-premade-action {
        @include WsxFlexStyle(flex-end, center);
        gap: 8px;
        .wsx-premade-template {
            color: #FFF;
            border-radius: 2px;
            padding: 7px 20px;
            box-sizing: border-box;
            background: linear-gradient(180deg, #6C6CFF 0%, #4747D9 100%);
            cursor: pointer;
            &:hover {
                color: #dcdce7;
            }
        }
        .wsx-premade-upgrade {
            color: #FFF;
            border-radius: 2px;
            padding: 7px 20px;
            box-sizing: border-box;
            background-image: linear-gradient(to bottom, #ff9336, #de521e);
            text-decoration: none;
            cursor: pointer;
            &:hover {
                color: #dcdce7;
            }
        }

    }
}
@keyframes premadeOverflowAnimation {
    0% { transform: translate(0px, -249px); }
    100% { transform: translate(0px, -0px); }
}
@media only screen and (max-width: 1024px) {
    .wsx-reg-premade__body {
        grid-template-columns: 1fr 1fr !important;
    }
}
@media only screen and (max-width: 960px) {
    .wsx-reg-premade {
        padding: 40px !important;
    }
}
@media only screen and (max-width: 768px) {
    .wsx-reg-premade__body {
        grid-template-columns: 1fr !important;
    }
}
// According & Sidebar Setting Panel
.wholesalex-form-builder-style-formatting-controller {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-height: 100vh; // padding: 16px 15px 100px;
    padding-bottom: 100px;
    img {
        max-width: 100%;
    }
    .wholesalex-premade-btn {
        border: unset;
        border-radius: 2px;
        background: linear-gradient(180deg, #9DC2FF 0.21%, #6C6CFF 100.21%);
        height: 40px;
        @include WsxFlexStyle(center, center);
        width: 268px;
        gap: 8px;
        width: 100%;
        margin-top: 16px;
        cursor: pointer;
        &:hover {
            background: linear-gradient(180deg, #678ac2 0.21%, var(--color-primary-hover) 100.21%);
        }
        &-label {
            @include WsxTypographyStyle(14px, 500, 22px);
            color: white;
        }
    }
    .typography-field .wholesalex_slider_field {
        @include WsxFlexStyle(space-between, center);
        margin-top: 10px;
    }
    .wsx-component-section__title {
        @include WsxTypographyStyle(14px, 500, 22px);
        background-color: #F6F6FF;
        padding-top: 4px !important;
        padding-bottom: 4px !important;
    }
    &>div:not(.wsx-component-section),
    .wsx-component-section__title {
        padding-left: 16px;
        padding-right: 16px;
    }
    .wsx-component-section__body {
        & > div { // &>div &>div,
            padding-left: 16px;
            padding-right: 16px;
        }
    }
    .wsx-component-panel {
        &.wsx-component-panel__open .wsx-component-panel__title {
            border: none !important;
        }
        .wsx-component-panel__title {
            @include WsxTypographyStyle(12px, 500, 16px);
            cursor: pointer; // @include WsxFlexStyle(space-between, center);
            margin: 12px 0px;
            padding: 0px 16px 12px;
            border-bottom: 1px solid #E6E5E5;
            .wsx-component-panen__icon {
                display: flex;
            }
        }
    }
    .wsx-control-tab .wsx-component-toggle-group-control-options { // @include WsxFlexStyle(space-between, center);
        background-color: #E9E9F0;
        .wsx-component-toggle-group-control-options__option {
            padding: 6px 13px;
            width: 100%;
            text-align: center;
            cursor: pointer;
            transition: .3s;
            &[data-active-item~='true'] {
                color: #fff;
                background-color: #343A46;
            }
        }
    }
    .wsx-control-state,
    .wsx-control-alignment { // @include WsxFlexStyle(space-between, center);
    .wsx-component-toggle-group-control-options { // @include WsxFlexStyle(space-between, center);
            & > div {
                padding: 4px 8px;
                border: 1px solid #6C6E77;
                transition: .3s;
                cursor: pointer;
                &:not(:last-child) {
                    border-right: 0px;
                }
                &:hover,
                &[data-active-item~='true'] {
                    color: #fff;
                    background-color: #6C6E77;
                }
            }
        }
    }
}
.wsx-component-panel__body { // accordin sidebar panel
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 16px;
    border-bottom: 1px solid #E6E5E5;
    animation: wsxAccordingAnimation .3s;
    & > div {
        padding: 0px 16px;
    }
    input,
    select {
        @include WsxTypographyStyle();
    }
}
@keyframes wsxAccordingAnimation {
    0% { opacity: 0; } 100% { opacity: 1; }
}
.wsx-control-increment .wholesalex-style-formatting-field-content  { // Increment/decrement
    border: 1px solid #E9E9F0;
    align-items: stretch !important;
    border-radius: 1px;
    height: 24px;
    input.wsx-input {
        border: 0px;
        padding: 0px;
        border-radius: 0px;
        text-align: center;
        min-height: auto;
        height: auto;
        -moz-appearance: textfield;
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }
    }
    span {
        @include WsxFlexStyle(center, center);
        padding: 5px;
        cursor: pointer;
        background-color: #D9D9D9;
        margin: 1px;
        transition: .3s;
        &:hover {
            background-color: #c1c1c1;
        }
    }
}
.wholesalex-select-field select.wholesalex-style-formatting-field-content {
    width: 100%;
    padding: 0px 6px;
    line-height: normal;
    border-radius: 0px !important;
}
.wholesalex-text-transform-control .wholesalex-style-formatting-field-content {
    align-items: stretch;
    justify-content: space-between;
    gap: 0px;
    border-radius: 1px;
    border: 1px solid #E9E9F0;
    padding: 0px;
    .wholesalex-text-transform-control__button {
        display: flex;
        align-items: center;
        height: -webkit-fill-available;
        padding: 3px;
        &:hover {
            background: #D9D9D9;
        }
    }
}
.wsx-form-control_hide {
    cursor: pointer;
    margin-left: -25px;
    background: white;
    border-radius: 4px 0px 0px 4px;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    padding: 7px 2px;
    border-color: #e6e5e5;
    @include WsxPositionStyle(fixed, 50% ); //  position: fixed; //  top: 50%;
    z-index: 9999999;
}
.wholesalex-form-builder__typography-setting  > div:not(.wsx-form-control_hide) {
    transition: 2s;
    opacity: 1;
}
.wsx-sidebar-hide {
    width: 0%;
    max-width: 0px;
    transition: .5s;
    .wholesalex-form-builder__typography-setting  > div:not(.wsx-form-control_hide) {
        opacity: 0;
        transition: .1s;
    }
    .wsx-form-control_hide .wsx-icon { 
        transform: rotate(180deg);
        animation: wsxSideBarIconRotate .5s;  
    }
}
/* ===============================  Sidebar Pre-made Popup End ================================*/
@keyframes wsxSideBarIconRotate {
    0% { 
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.wholesalex-popup-heading.wsx-extra-field-popup,.wholesalex-popup-heading.wsx-field-wc-options-popup {
    justify-content: flex-start;
    gap: 10px;

    .dashicons.dashicons-lock{
        color:#6c6cff;
        cursor: pointer;
    }
}
.wsx-field-condition-tab {
    .dashicons.dashicons-lock{
        color:#6c6cff;
        cursor: pointer;
    }
}
.wholesalex-form-builder-dropdown-content .components-popover__content {
    width: 100% !important;
}
.wsx-field-insert-popup {
    z-index: 999 !important;
}
.wsx-field-condition-popup .pro_popup_container{
    max-width: fit-content !important;
}

/* RTL Support  */
.rtl {
    .wholesalex-form-builder__typography-setting {
        border-left: 0;
        border-right: 1px solid #E6E5E5;
    }
    .wsx-form-control_hide {
        margin-left: auto;
        margin-right: -25px;
    }
}

/* ColorPanenDropdown Style */
button.components-button {
    padding: 6px !important;
    line-height: 0;
    border-radius: var(--border-radius-md);
    border: 1px solid var(--color-border-secondary);
    background-color: var(--color-base-two);
}
button.components-button:hover {
    background-color: var(--color-primary);
}
button.components-button svg {
    height: 20px;
    width: 20px;
}
button.components-button svg path {
    fill: var(--color-text-medium);
}
button.components-button:hover svg path {
    fill: var(--color-text-reverse);
}
.components-base-control__field {
    border: 1px solid var(--color-border-primary);
    border-radius: var(--border-radius-md);
    overflow: hidden;
    width: fit-content;
}
.components-range-control .components-base-control__field {
    border: none;
    border-radius: 0;
    width: auto;
    overflow: visible;
}
.components-simple-tooltip.components-range-control__tooltip {
    border-radius: var(--border-radius-md);
}
.components-range-control input.components-range-control__slider {
    padding: 0;
}
.components-input-control__container .components-input-control__backdrop,
.components-input-control__container .components-input-control__backdrop:focus {
    border: none !important;
    outline: none;
    box-shadow: none;
}
.components-base-control .components-select-control .components-input-control__container .components-select-control__input {
    border-radius: var(--border-radius-md);
    padding: 0 16px;
}
.components-base-control .components-select-control .components-input-control__container .components-select-control__input:focus {
    border: 1px solid var(--color-primary);
    outline: none;
    box-shadow: none;
}