.wsx-font {
    &-container {
        display: flex;
        align-items: center;
        border: 1px solid var(--color-border-primary);
        border-radius: var(--border-radius-md);
        overflow: hidden;
        .wsx-btn {
            color: var(--color-text-light);
            &.wsx-left {
                border-right: 1px solid var(--color-border-primary);
            }
            &.wsx-right {
                border-left: 1px solid var(--color-border-primary);
            }
        }
    }
    &-value {
        width: 48px;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        background-color: var(--color-base-one);
        color: var(--color-text-light);
    }
}