.wholesalex_form_builder{
    display: flex;

    .form-builder__field-exclude-roles {
        display: flex;
        align-items: center;
    }
    ul.exclude-roles {
        display: flex;
        li{
            margin: 0;
        }
    }
    ul.exclude-roles li:not(:last-child):after {
        content: ",";
    }
}
.wholesalex_form_builder__settings{
    background-color: rgba(108, 108, 255, 0.08);
    width: 30%;
    max-width: 300px;
    text-align: left;
}
.wholesalex_form_builder__settings_heading {
    font-size: 20px;
    font-weight: 500;
    color: var(--wholesalex-primary-color);
    padding:17px 25px;
    border-bottom: 1px solid rgba(108, 108, 255, 0.15);
    line-height: 28px;
}
.wholesalex_form_builder__container{
    padding-bottom: 50px;
    background-color: white;
    width: 70%;
}

.wholesalex_form_builder__settings_content{
    padding:25px;
}

.wholesalex_form_builder__settings_field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.wholesalex_form_builder__settings_fields {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.wholesalex_form_builder__container_heading {
    font-size: 20px;
    line-height: 28px;
    color: var(--wholesalex-heading-text-color);
    text-align: left;
    font-weight: 500;
    padding: 17px 25px;
}

.wholesalex_form_builder__container_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--wholesalex-border-color);
    padding-right: 20px;
}

.wholesalex_form_builder__container_header__right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.wholesalex_form_builder__fields {
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    gap:70px;
}

.wholesalex_form_builder__field{
    position: relative;
}

.wholesalex_form_builder__field {
    text-align: left;
    display: flex;
    gap: 10px;
    flex-direction: column;
    // min-height: 65px;
    justify-content: flex-end;
    padding: 22px 20px 20px;
    border-radius: 2px;
    border: solid 1px #c8c8d6;
    background-color: #fff;
}
.wholesalex_form_builder__field_control {
    display: flex;
    align-items: center;
    border: 1px solid #c8c8d6;
    width: fit-content;
    position: absolute;
    top: -50px;
    left: 0;
    
}

.wholesalex_form_builder__field .dashicons {
    font-size: 18px;
    width: 18px;
    color: var(--wholesalex-heading-text-color);
    &:hover{
        color: #2E333D;
    }
   
}
.wholesalex_form_builder__field_control > div {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    cursor: pointer;
    height: 36px;
    flex-direction: column;
    justify-content: center;

    &:hover{
        background-color: #F5F5F5;
        color: #2E333D;
    }
}

.wholesalex_form_builder__field_control> :not(:last-child) {
    border-right: 1px solid #c8c8d6;
}

.wholesalex_form_builder__add_fields_container{
    padding: 22px 29px 25px 25px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px 0 rgba(108, 108, 255, 0.16);
    background-color: #fff;
}

.wholesalex_form_builder__add_new_field_popup {
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.wholesalex_form_builder__add_fields__label {
    color: var(--wholesalex-heading-text-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 15px;
}

button.wholesalex_form_builder__field_button {
    padding: 6px 13px 6px 12px;
    border-radius: 2px;
    background-color: rgba(108, 108, 255, 0.15);
    border: none;
    color: var(--wholesalex-heading-text-color);
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
}

.wholesalex_form_builder__add_fields_group {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.wholesalex_form_builder__field_button:disabled {
    background-color: rgba(108, 108, 255, 0.08);
}

.wholesalex_form_builder__add_fields_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: left;
    max-width: 365px;
}

.wholesalex_form_builder__field_preview {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wholesalex_form_builder__settings_field .wholesalex_mulitple_select_inputs {
    min-width: unset;
    border-radius: 2px;
    border: solid 1px var(--wholesalex-border-color);
}

.wholesalex_form_builder__settings_field_label.wholesalex_field_label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dashicons-lock {
    color: #f78430;
}
input#excludeRoles {
    box-shadow: none;
}
button:not([disabled]).wholesalex_form_builder__field_button:hover {
    background-color: rgba(24, 24, 227, 0.15);
}