@import './CommonMixin.scss';
/* =============== Common Class =============== */
.wsx-input-typography {
    @include WsxTypographyStyle(var(--wsx-input-font-size), var(--wsx-input-weight), 1.6em, var(--wsx-input-case-transform));
}
.wsx-formBuilder-input-width {
    width: 100%;
    max-width: var(--wsx-input-width);
}
.wsx-formBuilder-input-layout {
    border-radius: var(--wsx-input-border-radius);
    padding: var(--wsx-input-padding);
    border: var(--wsx-input-border-width) solid var(--wsx-input-border-color);
}

/* =============== Common Class =============== */
@mixin inputWarningStyle($color, $background, $borderColor) {
    color: $color !important;
    background-color: $background !important;
    border-color: $borderColor !important;
}
@mixin inputStyle() {
    color: var(--wsx-input-color);
    background-color: var(--wsx-input-bg) !important;
    caret-color: var(--wsx-input-color);
    @extend .wsx-input-typography;
    @extend .wsx-formBuilder-input-layout;
}
@mixin loginInputStyle() {
    color: var(--wsx-login-input-color);
    background-color: var(--wsx-login-input-bg) !important;
    padding: var(--wsx-input-padding);
    border-radius: var(--wsx-input-border-radius);
    caret-color: var(--wsx-login-input-color);
    border: var(--wsx-input-border-width) solid var(--wsx-login-input-border-color);
    @include WsxTypographyStyle(var(--wsx-input-font-size), var(--wsx-input-weight)); // font-size: var(--wsx-input-font-size);font-weight: var(--wsx-input-weight);
}
@mixin inputFocusStyle() {
    color: var(--wsx-input-focus-color) !important;
    background-color: var(--wsx-input-focus-bg) !important;
    border-color: var(--wsx-input-focus-border-color) !important;
}
@mixin loginInputFocusStyle() {
    color: var(--wsx-login-input-focus-color) !important;
    background-color: var(--wsx-login-input-focus-bg) !important;
    border-color: var(--wsx-login-input-focus-border-color) !important;
}
@mixin BottomRadiusNone() {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
@mixin BorderOutlineStyle1() {
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
}
/* ======= Container Style  ======= */

.wholesalex-form,.wsx-form-wrapper_frontend  {
    width: 100% !important;
    max-width: var(--wsx-form-container-width) !important;
    .wholesalex_circular_loading__wrapper {
        display: none;
    }
}
/* ===============================  Variable Styling End ================================*/

/* ===============================  Input Variation Common Style Start ================================*/
.wholesalex-form-wrapper {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    border: var(--wsx-form-container-border-width) solid var(--wsx-form-container-border-color);
    border-radius: var(--wsx-form-container-border-radius);
    background-color: var(--wsx-form-container-bg);
    padding: var(--wsx-form-container-padding);
    @include WsxFlexStyle(center, stretch);
    input, select, textarea {
        min-height: auto !important;
        max-width: 100%;
        box-shadow: none !important;
        margin: 0px !important;
    }
    input, select {
        height: auto !important;
    }
    .wsx-form-label {
        margin-bottom: 0px;
        & > span {
            color: #FF2727 !important;
            margin-left: 4px;
        }
    }
    .wsx-clone-label span {
        visibility: hidden;
    }
    // Heading Style start
    .wsx-reg-form-heading-text {
        color: var(--wsx-reg-title-color);
        @include WsxTypographyStyle(var(--wsx-reg-title-font-size), var(--wsx-reg-title-font-size), 1.5em, var(--wsx-reg-title-case-transform)); // font-size: var(--wsx-reg-title-font-size); font-weight: var(--wsx-reg-title-font-weight);
    }
    .wsx-login-form-title-text {
        color: var(--wsx-login-title-color);
        @include WsxTypographyStyle(var(--wsx-login-title-font-size), var(--wsx-login-title-font-weight), 1.5em, var(--wsx-login-title-case-transform)); // font-size: var(--wsx-login-title-font-size);  // font-weight: var(--wsx-login-title-font-weight);
    }
    .wholesalex-registration-form-subtitle-text {
        color: var(--wsx-reg-description-color);
        @include WsxTypographyStyle(var(--wsx-reg-description-font-size), var(--wsx-reg-description-font-weight),1.5em, var(--wsx-reg-description-case-transform)); // font-size: var(--wsx-reg-description-font-size); // font-weight: var(--wsx-reg-description-font-weight);
    }
    .wholesalex-login-form-subtitle-text {
        color: var(--wsx-login-description-color);
        @include WsxTypographyStyle(var(--wsx-login-description-font-size), var(--wsx-login-description-font-weight),1.5, var(--wsx-login-description-case-transform)); // font-size: var(--wsx-login-description-font-size); // font-weight: var(--wsx-login-description-font-weight);
    }
    // Heading Style end
    // Login form
    .wholesalex-login-form {
        width: 100%;
        max-width: var(--wsx-login-width);
        box-sizing: border-box;
        border: var(--wsx-login-border-width) solid var(--wsx-login-border-color);
        border-radius: var(--wsx-login-border-radius);
        background-color: var(--wsx-login-bg);
        padding: var(--wsx-login-padding) 16px var(--wsx-login-padding) 16px;
        & > * {
            @extend .wsx-formBuilder-input-width;
            margin: 0 auto;
        }
        .wsx-fields-container {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }
        .wholesalex-login-form-title {
            margin-bottom: 30px !important;
            width: auto;
        }
    }
    .wsx-login-fields input {
        caret-color: var(--wsx-login-input-color);
        &::placeholder { 
            color: var(--wsx-login-input-placeholder-color) !important;
        }
        &::-ms-input-placeholder { 
            color: var(--wsx-login-input-placeholder-color) !important;
        }
    }
    // Registration form
    .wholesalex-registration-form {
        width: 100%;
        max-width: var(--wsx-form-reg-width);
        box-sizing: border-box;
        border-radius: var(--wsx-form-reg-border-radius);
        border: var(--wsx-form-reg-border-width) solid var(--wsx-form-reg-border-color);
        background-color: var(--wsx-form-reg-bg);
        padding: var(--wsx-form-reg-padding) 16px var(--wsx-form-reg-padding) 16px;
        & > * {
            @extend .wsx-formBuilder-input-width;
            margin: 0 auto;
        }
    }
    .wsx-reg-fields {
        .wsx-form-field > select option {
            background-color: var(--wsx-form-reg-bg) !important;
        }
        .wsx-form-field > select option, .wsx-privacy-policy {
            color: var(--wsx-input-color) !important;
        }
        .wsx-form-field > input, .wsx-form-field > textarea {
            caret-color: var(--wsx-input-color);
            &::placeholder{ 
                color: var(--wsx-input-placeholder-color) !important;
            }
            &::-ms-input-placeholder { 
                color: var(--wsx-input-placeholder-color) !important;
            }
        }
    }
    .wsx-form-field {
        & > textarea,
        & > select,
        & > input {
            display: block;
            width: 100% !important;
            min-width: auto !important;
            line-height: 1.6em;
            box-sizing: border-box;
            &:focus {
                box-shadow: none !important;
                outline: none !important;
            }
            &[type='date'] {
                &::-webkit-calendar-picker-indicator {
                    background-color: var(--wsx-input-placeholder-color);
                }
            }
        }
    }
    // Button
    .wsx-form-btn-wrapper {
        text-align: var(--wsx-form-button-align);
        margin-bottom: 1.5rem;
    }
    button.wsx-register-btn {
        color: var(--wsx-form-button-color) !important;
        border: var(--wsx-form-button-border-width) solid var(--wsx-form-button-border-color);
        background-color: var(--wsx-form-button-bg) !important;
        transition: .3s;
        cursor: pointer;
        &:hover {
            color: var(--wsx-form-button-hover-color) !important;
            border-color: var(--wsx-form-button-hover-border-color) !important;
            background-color: var(--wsx-form-button-hover-bg) !important;
        }
        &:disabled{
            opacity: .5;
        }
    }
    .wholesalex-login-form .wsx-form-btn-wrapper >  
    button.wsx-login-btn {
        color: var(--wsx-login-form-button-color);
        border: var(--wsx-form-button-border-width) solid var(--wsx-login-form-button-border-color);
        background-color: var(--wsx-login-form-button-bg);
        transition: .3s;
        cursor: pointer;
        &:hover {
            color: var(--wsx-login-form-button-hover-color);
            border-color: var(--wsx-login-form-button-hover-border-color);
            background-color: var(--wsx-login-form-button-hover-bg);
        }
    }
    
    input:-webkit-autofill {
        background-color: transparent;
        color: #130f0f;
        -webkit-text-fill-color: #868686;
        transition: background-color 5000s ease-in-out 0s;
    }

    button.wsx-register-btn, 
    button.wsx-login-btn {
        width: 100%;
        max-width: var(--wsx-form-button-width);
        min-height: auto !important;
        // font style
        display: inline-block;
        border-radius: var(--wsx-form-button-border-radius);
        padding: var(--wsx-form-button-padding) !important;
        text-align: center;
        margin-top: 36px;
        box-sizing: border-box;
        @include WsxTypographyStyle(var(--wsx-form-button-font-size), var(--wsx-form-button-weight), 1.6em, var(--wsx-form-button-case-transform)); // font-size: var(--wsx-form-button-font-size) !important; // font-weight: var(--wsx-form-button-weight);
    }
}

/* ============= Form Separator =========== */
.wsx-form-separator {
    width: var(--wsx-form-container-separator);
    display: block;
    background-color: var(--wsx-form-container-border-color);
}
/* ============= Input Label  =========== */
.wsx-field-heading {
    margin-bottom: 8px;
}
label.wsx-form-label, .wsx-form-label, .wsx-form-field-label {
    color: var(--wsx-form-label-color) !important;
    @include WsxTypographyStyle(var(--wsx-form-label-font-size), var(--wsx-form-label-weight), 1.6em, var(--wsx-form-label-case-transform)); // font-weight: var(--wsx-form-label-weight) !important; // font-size: var(--wsx-form-label-font-size) !important;
}
.wsx-login-fields {
    label.wsx-form-label, .wsx-form-label, .wsx-form-field-label {
        color: var(--wsx-login-form-label-color) !important;
    }
    .wsx-form-field-help-message {
        color: var(--wsx-login-input-color);
    }
}
/* ============= Help Message =========== */
.wsx-form-field-help-message,.wsx-form-field-warning-message {
    font-style: italic;
    font-size: 12px;
    display: block;
    margin-top: 4px;
}
.wsx-form-field-warning-message {
    color: var(--wsx-input-warning-color);
}
/* ======= Heading & Settings Dropdown ======= */
.wsx-reg-form-heading,
.wholesalex-login-form-title {
    position: relative;
    .wsx-reg-form-heading-text, 
    .wsx-login-form-title-text {
        margin-bottom: 10px;
    }
}
/* ===============================  Input Variation Common Style End ================================*/

/* ===============================  File Input Style Start ================================*/
.wsx-form-file .wsx-field-content {
    input {
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: 0;
        &::-webkit-file-upload-button {
            visibility: hidden;
        }
    }
    .wsx-file-label {
        color: var(--wsx-input-color);
        background-color: var(--wsx-input-bg);
        @include WsxFlexStyle(flex-start, center);
        gap: 8px;
        @extend .wsx-formBuilder-input-layout;
        span {
            color: var(--wsx-form-label-color);
            border-radius: 1px;
            border: 1px solid var(--wsx-form-label-color);
            padding: 2px 8px;
            @include WsxFlexStyle(center, center);
            gap: 6px;
            svg {
                stroke:  var(--wsx-form-label-color);
                path {
                    stroke:  var(--wsx-form-label-color) !important;
                }
            }
        }
        
    }
}
body .wholesalex-form-wrapper  .wsx-file-outline {
    .wsx-form-label {
        position: absolute;
        transform: translate(16px, -50%);
        gap: 5px;
        padding: 0px 5px;
    }
    .wsx-clone-label {
        color: transparent !important;
        background-color: var(--wsx-input-bg);
        padding: 0px 5px;
        height: var(--wsx-input-border-width);
        transform: translate(16px, 0%);
        & > span {
            visibility: hidden;
        }
    }
}
/* ===============================  File Input Style End ================================*/

/* ===============================  Radio Style Start ================================*/
.wsx-field-radio {
    .wsx-field-content {
        border: 0px !important;
    }
    .wholesalex-field-wrap {
        & > div {
            color: var(--wsx-input-color);
        }
        & > input {
            accent-color: var(--wsx-input-color);
            height: 17px !important;
            width: 17px !important;
            appearance: auto !important;
            &:checked::before {
                content: none !important;
            }
            &:hover {
                accent-color: var(--wsx-input-focus-color);
            }
            &:focus {
                box-shadow: unset !important;
            }
        }
    }
}
/* ===============================  Radio Style End ================================*/

/* ===============================  Checkbox Style Start ================================*/
.wsx-form-checkbox .wholesalex-field-wrap {
    & > input {
        height: 16px !important;
        width: 16px !important;
        min-width: 16px;
        border-radius: 2px;
        overflow: hidden;
        appearance: unset !important;
        @include WsxFlexStyle(center, center );
        &:checked::before {
            content: " \2714" !important;
            width: 16px !important;
            height: 16px !important;
            font-size: 11px;
            border-radius: 2px;
            margin: 0px !important;
            background-color: var(--wsx-input-bg)!important; // avada theme conflict
            @include WsxFlexStyle(center, center);
        }
    }
}
.wsx-login-fields {
    caret-color: var(--wsx-login-input-color);
    .wsx-form-checkbox .wholesalex-field-wrap  > input {
        border: 1.5px solid var(--wsx-login-input-color);
        &:checked::before { 
            color: var(--wsx-login-input-color);
            background-color: var(--wsx-login-input-bg) !important; // avada theme conflict
        }
    }
    .wsx-form-checkbox {
        .wsx-field-content {
            border-color: var(--wsx-login-input-border-color);
        }
        label {
            color: var(--wsx-login-input-color) !important;
        }
    }

}
.wsx-reg-fields {
    caret-color: var(--wsx-input-color);
    .wsx-form-field-help-message {
        color: var(--wsx-input-color);
    }
    .wsx-form-checkbox .wholesalex-field-wrap > input {
        border: 1.5px solid var(--wsx-input-color);
        accent-color: transparent !important;
        &:checked::before { 
            color: var(--wsx-input-color);
        }
    }
}
/* ===============================  Checkbox Style End ================================*/

/* ===============================  Checkbox & Radio Common Start ================================*/
.wsx-form-field.wsx-field-radio {
    .wholesalex-field-wrap {
        @include WsxFlexStyle(flex-start, center);
    }
}
.wsx-form-field.wsx-form-checkbox {
    .wholesalex-field-wrap {
        @include WsxFlexStyle(flex-start, center);
    }
}
.wsx-form-field.wsx-form-checkbox, .wsx-form-field.wsx-field-radio {
    .wholesalex-field-wrap {
        gap: 8px;
        input {
            margin: 0px;
            cursor: pointer;
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
    .wsx-form-field-help-message {
        margin-top:8px !important;
    }
    .wsx-field-content {
        display: flex;
        row-gap: 20px;
        column-gap: 32px;
        flex-wrap: wrap;
        label {
            color: var(--wsx-input-color);
            @extend .wsx-input-typography;
            margin: 0px !important;
        }
    }
}
/* ===============================  Checkbox & Radio Common End ================================*/

/* ===============================  Common Variation Style  Start ================================*/
.wholesalex-registration-form .wsx_variation_1,
.wholesalex-registration-form .wsx_variation_3 {
    .wsx-reg-form-row-setting {
        position: static;
    }
}
.wsx_variation_1 .wsx-outline-focus {
    @extend .wsx-formBuilder-input-width;
}
.wsx_variation_1,
.wsx_variation_2,
.wsx_variation_3, 
.wsx_variation_6, 
.wsx_variation_7 {
    .wsx-login-fields  {
        .wsx-form-field {
            & > input,
            & > textarea,
            & > select {
                @include loginInputStyle();
                &:focus {
                    @include loginInputFocusStyle();
                }
            }
            &.wsx-field-warning {
                & > input,
                & > textarea,
                & > select {
                    @include inputWarningStyle(var(--wsx-login-input-warning-color), var(--wsx-login-input-warning-bg), var(--wsx-login-input-warning-border-color));
                }
            }
        }
    }
    .wsx-reg-fields  {
        .wsx-form-field {
            & > input,
            & > textarea,
            & > select {
                @include inputStyle();
                &:focus {
                    @include inputFocusStyle();
                }
            }
            &.wsx-field-warning {
                & > input,
                & > textarea,
                & > select,
                & > .wsx-field-content > .wsx-file-label {
                    @include inputWarningStyle(var(--wsx-input-warning-color), var(--wsx-input-warning-bg), var(--wsx-input-warning-border-color));
                }
            }
        }
    }
}
/* ===============================  Common Variation Style  End ================================*/

/* ===============================  Variation Style 2 Start ================================*/
.wsx_variation_2 {
    & > .wsx-reg-form-row-setting {
        @include WsxPositionStyle(absolute, false, false, 0px, 100%);
    }
    .wsx-reg-fields {
        .wsx-outline-focus {
            & > input,
            & > textarea,
            & > select {
                @include inputStyle();
                &:focus + .wsx-form-label {
                    background-color: var(--wsx-input-focus-bg) !important;
                }
            }
            .wsx-form-label.wsx-clone-label {
                background-color: var(--wsx-input-bg);
            }
        }
    }
    .wsx-login-fields {
        .wsx-outline-focus {
            & > input,
            & > textarea,
            & > select {
                @include loginInputStyle();
                &:focus + .wsx-form-label {
                    background-color: var(--wsx-login-input-focus-bg) !important;
                }
            }
            .wsx-form-label.wsx-clone-label {
                background-color: var(--wsx-login-input-bg);
            }
        }
    }
    .wsx-outline-focus {
        display: flex;
        background: transparent;
        position: relative;
        .wsx-form-label {
            padding: 0px 5px;
            position: absolute;
            transform: translate(16px, -50%);
            @include WsxFlexStyle(center, center);
            gap: 5px;
            &.wsx-clone-label {
                color: transparent !important;
                padding: 0px 5px;
                height: var(--wsx-input-border-width);
                transform: translate(16px, -0%);
            }
        }
    }
}
/* ===============================  Variation Style 2 End ================================*/

/* ===============================  Variation Style 3  Start ================================*/
.wsx_variation_3 {
    .wsx-form-field {
        & > textarea,
        & > select,
        .wsx-file-label,
        & > input {
            @include BorderOutlineStyle1();
            @include BottomRadiusNone();
            &:focus {
                @include BorderOutlineStyle1();
                @include BottomRadiusNone();
            }
        }
    }
}
/* ===============================  Variation Style 3  End ================================*/

/* ===============================  Variation Style 3 & 4 Start ================================*/
.wsx_variation_3, .wsx_variation_4 {
    .wsx-form-file  .wsx-file-label {
        @include BorderOutlineStyle1();
    }
}
/* ===============================  Variation Style 3 & 4 End ================================*/

/* ===============================  Variation Style 4 Start ================================*/
.wsx_variation_4 {
    .wsx-form-file .wsx-field-content {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        @include BorderOutlineStyle1();
    }
    .wsx-outline-focus  { 
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        padding-top: calc(var(--wsx-input-padding) / 2) !important;
        padding-bottom: calc(var(--wsx-input-padding) / 2) !important;
        @include BorderOutlineStyle1();
    }
}
/* ===============================  Variation Style 4 End ================================*/

/* ===============================  Variation Style 4 & 5 Start ================================*/
.wsx_variation_4, .wsx_variation_5, .wsx_variation_8 {
    .wsx-field-content {
        background-color: var(--wsx-input-bg);
        display: block;
        @extend .wsx-formBuilder-input-layout;
    }
    .wsx-file-label {
        background-color: unset !important;
        padding: 0px !important;
        border: 0px !important;
        border-radius: 0px !important;
        flex-direction: column !important;
        align-items: flex-start !important;
        span {
            padding: 0px;
            border: 0px;
        }
        .wsx-form-label {
            display: flex;
            gap: 5px;
            span {
                border: 0px !important;
                padding: 0px !important;
            }
        }
    }
}
.wsx_variation_4, .wsx_variation_5 {
    .wsx-file-label_wrap {
        display: flex !important;
        align-items: center;
        gap: 20px;
    }
    .wsx-reg-fields {
        .wsx-form-field.wsx-outline-focus {
            @include inputStyle();
            &:focus-within {
                border-style: solid;
                @include inputFocusStyle();
            }
        }
        .wsx-form-field {
            & > input,
            & > select,
            & > textarea {
                color: var(--wsx-input-color);
            }
        }
    }
    .wsx-login-fields {
        .wsx-form-field.wsx-outline-focus {
            @include loginInputStyle();
            &:focus-within {
                border-style: solid;
                @include loginInputFocusStyle();
            }
        }
        .wsx-form-field {
            & > input,
            & > select,
            & > textarea {
                color: var(--wsx-login-input-color);
            }
        }
    }
    .wsx-form-field {
        &.wsx-outline-focus {
            position: relative;
            border-style: solid;
            margin-top: 4px;
            @include WsxFlexStyle(center, flex-start);
            flex-direction: column-reverse;
            & > select,
            & > input {
                border: none !important;
                box-shadow: none;
                background-color: transparent;
                padding: 0px !important;
                margin: 0px !important;
                min-height: fit-content !important;
            }
            & > textarea {
                border: none !important;
                box-shadow: none;
                background-color: transparent;
                padding: 0px !important;
                margin: 0px !important;
            }
        }
        .wsx-form-field {
            & > input,
            & > select,
            & > textarea {
                @extend .wsx-input-typography;
            }
        }
    }
    .wsx-login-fields .wsx-field-warning.wsx-form-field:not(.wsx-form-checkbox) {
        @include inputWarningStyle(var(--wsx-login-input-warning-color), var(--wsx-login-input-warning-bg), var(--wsx-login-input-warning-border-color));
    }
    .wsx-reg-fields  {
        .wsx-field-warning.wsx-form-field:not(.wsx-field-radio):not(.wsx-form-checkbox):not(.wsx-form-file), .wsx-form-file.wsx-field-warning .wsx-field-content {
            @include inputWarningStyle(var(--wsx-input-warning-color), var(--wsx-input-warning-bg), var(--wsx-input-warning-border-color));
        }
    }
    .wsx-field-radio .wsx-field-content, .wsx-form-checkbox .wsx-field-content {
        background-color: unset;
        border: 0px;
        padding: 0px;
    }
}
/* ===============================  Variation Style 4 & 5 End ================================*/

/* ===============================  Variation Style 5 ================================*/
.wsx_variation_5 .wsx-outline-focus {
    padding-top: calc(var(--wsx-input-padding) / 2) !important;
    padding-bottom: calc(var(--wsx-input-padding) / 2) !important;
}
/* ===============================  Variation Style 5 End ================================*/

/* ===============================  Variation Style 6 Start ================================*/
.wsx_variation_6 {
    .wholesalex-registration-form-column:has( > .wsx-form-select) .wsx-field-heading{
        position: static !important;
    }
    .wsx-form-date , 
    .wsx-form-select {
        @include WsxFlexStyle(center, flex-start );
        flex-direction: column-reverse;
    }
    .wsx-outline-focus:not(.wsx-form-select):not(.wsx-form-date) {
        // margin-top: 4px; // double column issue
        @include WsxFlexStyle(flex-start, center);
        & > select,
        & > input {
            height: fit-content !important;
            box-sizing: border-box;
        }
        & > textarea:focus ~ .wsx-form-label, 
        & > textarea:focus-within ~ .wsx-form-label, 
        & > input:focus ~ .wsx-form-label, 
        & > input:focus-within ~ .wsx-form-label {
            display: none !important;
        }
        & > input:not([value]):not(:defined) {
            display: none !important;
        }
        .wsx-form-label {
            position: absolute;
            padding-left: var(--wsx-input-padding);
            &:focus, &:focus-within {
                display: none !important;
            }
        }
    }
}
/* ===============================  Variation Style 6 End ================================*/

/* ===============================  Variation Style 7 Start ================================*/
.wsx_variation_7 {
    .wsx-outline-focus {
        display: flex !important;
        background: transparent;
        position: relative;
        & > input,
        & > textarea,
        & > select {
            @include inputStyle();
            &:focus ~ .wsx-form-label, &:focus ~ .wsx-clone-label {
                transform: translate(16px, -50%);
                padding-left: 6px;
                padding-right: 6px;
                top: 0px !important;
            }
            &:not(:placeholder-shown) ~ .wsx-form-label {
                transform: translate(16px, -50%) !important; 
                padding-left: 6px !important;
                padding-right: 6px !important;
                top: 0px !important;
            }
            &:not(:placeholder-shown) ~ .wsx-clone-label {
                transform: translate(16px, 0%) !important;
                padding-top: 0px !important;
                padding-bottom: 0px !important;
                background-color: var(--wsx-input-bg);
            }
            &:focus ~ .wsx-clone-label {
                transform: translate(16px, 0%) !important;
                padding-top: 0px !important;
                padding-bottom: 0px;
                top: 0px !important;
                background-color: var(--wsx-input-focus-bg) !important;
            }
        }
        .wsx-form-label {
            padding: var(--wsx-input-padding);
            z-index: 999 !important;
            transform: translate(var(--wsx-input-padding), -50%);
            transition:  .3s;
            @include WsxPositionStyle(absolute, 50%, 0%);
            &.wsx-clone-label {
                position: absolute;
                height: calc(var(--wsx-input-border-width)* 2);
                z-index: 0 !important;
                color: transparent !important;
                transform: translate(0px, -50%) !important;
                padding-top: 0px !important;
                padding-bottom: 0px !important;
                transition: unset !important;
            }
        }
    }
    .wsx-login-fields  {
        .wsx-outline-focus {
            & > input,
            & > textarea,
            & > select {
                &:not(:placeholder-shown) ~ .wsx-clone-label {
                    background-color: var(--wsx-login-input-focus-bg) !important;
                }
                &:focus ~ .wsx-clone-label {
                    background-color: var(--wsx-login-input-focus-bg) !important;
                }    
            }
        }
    }
}
/* ===============================  Variation Style 7 End ================================*/

/* ===============================  Variation Style 8 Start ================================*/
.wsx_variation_8 {
    .wsx-form-field {
        & > input,
        & > textarea,
        & > select {
            border: none !important;
            box-sizing: border-box;
            background-color: transparent !important;
            padding: 0px;
            @extend .wsx-input-typography;
        }
        &.wsx-outline-focus {
            cursor: text;
            display: block;
            padding-left: 0px !important;
            margin-top: 0px !important;
            box-sizing: border-box;
            @include inputStyle();
            @include BorderOutlineStyle1(); 
            @include BottomRadiusNone();
            @extend .wsx-formBuilder-input-layout;
        }
    }
    .wsx-login-fields  {
        .wsx-form-field {
            & > input,
            & > textarea,
            & > select {
                color: var(--wsx-login-input-color);
                &:focus {
                    color: var(--wsx-login-input-focus-color) !important;
                }
            }
            &.wsx-outline-focus {
                background-color: var(--wsx-login-input-bg) !important;
                &:focus-within {
                    border-color: var(--wsx-login-input-focus-color) !important;
                    background-color: var(--wsx-login-input-focus-bg) !important;
                }
            }
            &.wsx-field-warning:not(.wsx-field-radio):not(.wsx-form-checkbox), &.wsx-field-warning.wsx-form-file  > .wsx-field-content {
                @include inputWarningStyle(var(--wsx-login-input-warning-color), var(--wsx-login-input-warning-bg), var(--wsx-login-input-warning-border-color));           
            }
        }
    }
    .wsx-reg-fields  {
        .wsx-form-field {
            & > input,
            & > textarea,
            & > select {
                color: var(--wsx-input-color);
                &:focus {
                    color: var(--wsx-input-focus-color) !important;
                }
            }
            &.wsx-outline-focus {
                background-color: var(--wsx-input-bg) !important;
                &:focus-within {
                    border-color: var(--wsx-input-focus-border-color) !important;
                    background-color: var(--wsx-input-focus-bg) !important;
                }
            }
            &.wsx-field-warning:not(.wsx-field-radio):not(.wsx-form-checkbox), &.wsx-field-warning.wsx-form-file  > .wsx-field-content {
                @include inputWarningStyle(var(--wsx-input-warning-color), var(--wsx-input-warning-bg), var(--wsx-input-warning-border-color));
            }
        }
    }
    .wsx-field-radio .wsx-field-content, .wsx-form-checkbox .wsx-field-content {
        background-color: unset;
        border: 0px;
        padding: 0px;
    }
    .wsx-file-label {
        flex-direction: column;
        align-items: flex-start !important;
        @include BorderOutlineStyle1();
        @include BottomRadiusNone();
    }
    .wsx-file-label_wrap {
        @include WsxFlexStyle(flex-start, center );
        gap: 20px;
    }
    .wsx-field-content {
        border-radius: var(--wsx-input-border-radius) var(--wsx-input-border-radius) 0px 0px;
        @include BorderOutlineStyle1();
    }
}
/* ===============================  Variation Style 8 End ================================*/

/* ===============================  Editor & Frontend Start ================================*/
.wsx-form-wrapper_frontend.wsx_variation_5, .wsx-form-wrapper_frontend.wsx_variation_4  {
    .wsx-field-content  > .wsx-file-label {
        flex-direction: row !important;
        align-items: center !important;
    }
}
[data-type='wholesalex/forms']  {
    width: 100% !important;
    max-width: 100% !important;
}
[data-type='wholesalex/forms'], .wp-block-wholesalex-forms.wholesalex-form, .wsx-form-wrapper_frontend  {
    .wsx-reg-form-heading {
        padding-bottom: 20px;
    }
    .wholesalex-fields-wrapper {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .wholesalex-form-wrapper, &.wholesalex-form-wrapper {
        overflow: hidden;
    }
}
[data-type='wholesalex/forms'] .wholesalex-registration-form .wholesalex-fields-wrapper, .wp-block-wholesalex-forms.wholesalex-form .wholesalex-fields-wrapper, .wsx-form-wrapper_frontend .wholesalex-fields-wrapper {
    margin-top: 20px !important;
}
.wholesalex-form-preview-block-placeholder {
    flex-direction: column;
    @include WsxFlexStyle(flex-start, center);
}
@media only screen and (max-width: 1100px) {
    .wholesalex-form-wrapper:not(.wsx-form-wrapper_frontend) {
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width: 991px) {
    .wsx-form-wrapper_frontend.wholesalex-form-wrapper {
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width: 768px) {
    .wholesalex-form-wrapper {
        display: block;
    }
}
// Double Coulmn
.wsx-reg-form-row.double-column {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    & > div {
        flex: 1;
    }
}
.wholesalex_circular_loading__wrapper {  
    background-color: hsla(0, 0%, 100%, 0.5);
    margin: 0;
    transition: opacity 0.3s;
    @include WsxPositionStyle(absolute, 0, 0, 0);
    z-index: 9999999;
    cursor: wait;
    height: 100vh;
    top: 0;
    position: fixed !important;
}
.wholesalex_loading_spinner {
    width: 100%;
    text-align: center;
    margin-top: -21px;
    @include WsxPositionStyle(absolute, 50%);
    top: 50% !important;
}
.wholesalex_circular_loading_icon {
    stroke-width: 2;
    stroke-dashoffset: 0;
    stroke-dasharray: 90, 150;
    stroke: var(--wholesalex-primary-color);
    stroke-linecap: round;
    animation: wholesalex_circular_loading 1.5s ease-in-out infinite;
}
@keyframes wholesalex_circular_loading {
    0% {
        stroke-dasharray: 1, 140;
        stroke-dashoffset: 0;
    }
}
.wholesalex_loading_spinner .move_circular {
    height: 42px;
    width: 42px;
    animation: circular_rotate 2s linear infinite;
}
@keyframes circular_rotate {
    100% {
        transform: rotate(1turn);
    }
}

.wsx_variation_1,
.wsx_variation_2,
.wsx_variation_3,
.wsx_variation_4,
.wsx_variation_5,
.wsx_variation_7,
.wsx_variation_8 {
    .wsx-login-fields {
        
        .wsx-field-warning .wsx-form-label:not(.wsx-clone-label) {
            color: var(--wsx-login-form-label-color-warning) !important;
        }
        .wsx-form-field:focus-within .wsx-form-label:not(.wsx-clone-label) {
            color: var(--wsx-login-form-label-color-active) !important;
        }
    }

    .wsx-reg-fields {
        .wsx-field-warning .wsx-form-label:not(.wsx-clone-label) {
            color: var(--wsx-form-label-color-warning) !important;
        }
        .wsx-form-field:focus-within .wsx-form-label:not(.wsx-clone-label) {
            color: var(--wsx-form-label-color-active) !important;
        }
    }
}
.wsx_variation_6 {
    .wsx-login-fields {
        
        .wsx-field-warning .wsx-form-label:not(.wsx-clone-label) {
            color: var(--wsx-login-form-label-color-warning) !important;
        }

        .wsx-reg-form-row:focus-within .wsx-form-label:not(.wsx-clone-label),  .wsx-field:focus-within .wsx-form-label:not(.wsx-clone-label), .wsx-form-field:focus-within .wsx-form-label:not(.wsx-clone-label) {
            color: var(--wsx-login-form-label-color-active) !important;
        }
    }

    .wsx-reg-fields {
        .wsx-field-warning .wsx-form-label:not(.wsx-clone-label) {
            color: var(--wsx-form-label-color-warning) !important;
        }
        .wsx-reg-form-row:focus-within .wsx-form-label:not(.wsx-clone-label), .wsx-field:focus-within .wsx-form-label:not(.wsx-clone-label), .wsx-form-field:focus-within .wsx-form-label:not(.wsx-clone-label) {
            color: var(--wsx-form-label-color-active) !important;
        }
    }
}