

// Global For All Wizard Pages
button {
    cursor: pointer;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wholesalex-logo {
    padding-top: 45px;
}

.logo {
    max-height: 60px;
    max-width: 100%;
}

.setup_wizard__content {
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

// Header
.wizard-container__header {
    padding: 10px;
    border-bottom: 1px solid #e1e6eb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .wizard-container__heading{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        .heading_icon {
            color: #5a5d60;
            font-size: 24px;
            line-height: 26px;
            width: auto;
            height: auto;
        }
        .heading_text {
            font-size: 24px;
            line-height: 28px;
            color: var(--wholesalex-heading-text-color);
            font-weight: bold;
            margin-bottom: 8px;
        }
    }
    .wizard-container__subheading {
        font-size: 16px;
        line-height: 26px;
        color: #575a5d;
        text-align: center;
        max-width: 580px;
    }
}
.progress-buttons-container {
    display: flex;
    justify-content: center;
}
.justify-space-between {
    justify-content: space-between !important;
}
.left-buttons,
.right-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .dashicons {
        font-size: 16px;
        height: 16px;
        line-height: 20px;

    }
    .wholesalex-btn.wholesalex-secondary-btn.wizard_previous_btn {
        font-size: 14px;
        height: 40px;
    }
    .wholesalex-btn.wholesalex-primary-btn.wizard_next_btn {
        padding: 10px 22px;
        font-size: 14px;
        height: 40px;
    }
}
.wizard_step_skip_button {
    font-size: 16px;
    line-height: 32px;
    color: var(--wholesalex-heading-text-color);
    cursor: pointer;
    &:hover{
        color: var(--color-primary);
    }
}

.next-button {
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #8089ff, #4f48ff);
    background-color: #361fff;
    color: white;
}

.previous-button {
    border-radius: 4px;
    background-color: #d9d5ff;
    color: black;
}


.progress-button {
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 30px;
    cursor: pointer;

    .dashicons {
        padding-top: 2px;
        font-size: 16px;
        height: 16px;
        width: 16px;
    }
}




.loading {
    width: 16px;
    height: 16px;
    border: 3px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-left: 5px;
}

/// Progress Bar
.wsx_wizard_container {
    max-width: 1000px;
    margin: auto;
}
.wsx-progressbar-container {
    margin-bottom: 40px;
    .wsx {
        &-step {
            &-2::after {
                width: 33%;
            }
            &-3::after {
                width: 64%;
            }
            &-4::after {
                width: 95%;
            }
            &-5::after {
                width: 100%;
            }
        }
    }
}
.wsx-progress-step {
    &-container {
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
        position: relative;
    
        &::before {
            content: '';
            position: absolute;
            height: 5px;
            width: 95%;
            margin-left: 25px;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            background-color: var(--color-shadow-dark);
        }
    
        &::after {
            content: '';
            position: absolute;
            background-color: var(--color-primary);
            height: 6px;
            top: 50%;
            transition: 0.4s ease;
            transform: translateY(-50%);
            left: 0;
            margin-left: 25px;
        }
        .progress-step-count {
            font-size: 19px;
            color: #f3e7f3;
        }
        
    }

    &-style {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--color-shadow-dark);
        border: 2px solid var(--color-base-one);
        transition: var(--transition-md) ease;
    }

    &-label-container {
        top: -28px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &-label {
        font-size: 14px;
        color: var(--color-text-medium);
        white-space: pre;
        font-weight: var(--font-weight-medium);
        font-family: var(--body-font-family);
        &-left {
            margin-left: 52px;
        }
        &-right {
            margin-right: 28px;
        }
    }

    &-wrapper {
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 3px solid rgba(108, 108, 255, 0.29);
        background-color: #f1f1f9;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 25px;
        &.completed {
            border: 2px solid  var(--color-primary);
            .wsx-progress-step-style {
                background-color: var(--color-primary);
            }
        }
    }
}

.wsx-learn-more-option {
    &-icon {
        width: 22px;
        height: 22px;
    }
    &-label {
        cursor: pointer;
        color: var(--color-primary);
        &:hover {
            color: var(--color-secondary);
        }
    }
}

// Pages

.setup_wizard_container {
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(108, 108, 255, 0.2);
    background-color: #fff;
}
select#website_type {
    max-width: none;
    padding: 5px 0px 5px 15px;
    border-radius: 2px;
    border: solid 1px #e9e9f0;
    background-color: #fff;
    width: 100%;
}
// .wsx-progressbar-container {
//     margin-bottom: 40px;
// }
// Welcome Page

.wholesalex_setup_wizard__welcome_page.setup_wizard_container {

    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(108, 108, 255, 0.2);
    background-color: #fff;
    padding:50px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .setup_wizard_heading {
        color: #091f36;
        font-size: 35px;
        font-weight: bold;
    }

    .setup_wizard_highlight{
        color: var(--color-primary);
        line-height: 1.4em;

    }

    .setup_wizard_content {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom:40px;
        .setup_wizard_subheading {
            color: #091f36;
            font-size: 18px;
            line-height: 26px;
        }
        .setup_wizard_desc {
            color: #575a5d;
            font-size: 16px;
        }
    }

    .setup_wizard_start_btn {
        box-sizing: border-box;
        height: auto;
        border: none;
        font-size: 20px;
        font-weight: 500;
        line-height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to bottom, var(--color-primary), #4747d9);
        color: white;
        padding: 15px 35px;
        .right_arrow_icon {
            line-height: 24px;

        }

        &:hover{
            background-image: linear-gradient(to bottom, #2f2ffc, #2e2ecf);
        }
    }


}

.wholesalex_switch_field.wholesalex_wizard_field {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.wholesalex_text_field.wholesalex_wizard_field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wholesalex_setup_wizard__general_page.setup_wizard_container {
    margin-top: 15px;
    .setup_wizard__content {
        text-align: left;
        padding: 30px 40px;
        display: flex;
        flex-direction: column;
        // gap: 40px;


        .wholesalex_drag_drop_file_upload {
            max-width: 300px;
        }
        .wizard-field{

            label {
                font-size: 16px;
                line-height: 20.8px;
                color: #070c1a;
                font-weight: 500;
            }

            .checkbox-label {
                font-weight: normal;
            }
        }

        .dashicons-lock {
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
        }

        .locked {
            opacity: 0.7;
        }


        .visible {
            opacity: 1 !important;
        }


        .choosebox{
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        .tier-layouts {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;

            .active-tier {
                border-color: var(--color-primary) !important;
                border-width: 1px !important;
            }
            .tier-layout {
                border-radius: 4px;
                border: solid 1px var(--wholesalex-border-color);
                position: relative;
                .tier_image {
                    max-width: 210px;
                    min-height: 130px;
                    .bor-transparent-2px {
                        border: 2px solid transparent;
                    }
                    .locked {
                        opacity: 0.7;
                    }
                }
                img{
                    max-width: 100%;
                    padding: 5px;
                    display: block;
                }
                input[type=radio] {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    opacity: 0;
                    margin: auto;
                }
            }

        }

        .wizard-field-checkboxes {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .wholesalex-wizard-installation-notice{
            font-size: 14px;
            font-style: italic;
            line-height: 24px;
            color: #888888;
            margin-top: -10px;

            .installable-plugin {
                color: var(--color-primary);
                a {
                    color: var(--color-primary);
                    text-decoration: none;
                }
            }
        }
        .wholesalex_loader {
            min-height: 90vh;
        }

    }
}

.wholesalex_setup_wizard__addons_page {
    .addon_view_all_overlay {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.27) -23%, #fff 78%);
        height: 144px;
        width: 100%;
        position: absolute;
        bottom: 90px;
    }

    .setup_wizard__content {
        .wholesalex_card__desc {
            margin-bottom: 0px;
        }
    }

    .wholesalex_addon__cards {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        position: relative;
    }
    .wholesalex_addon_card_wrapper {
        box-shadow: unset;
        border-radius: 4px;
        border: solid 1px #eaedf2;
        background-color: #f7f9ff;
    }
}
.wholesalex_setup_wizard__core_feature {
    section.core_features_list_section {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .dashicons-admin-users {
            width: 30px;
            height: 30px;
            margin: 0 12px 0 0;
            padding: 5px 6px 6px;
            border-radius: 15px;
            background-color: var(--color-primary);
            box-sizing: border-box;
            font-size: 18px;
            color: white;
        }
    }

    .core_feature_title {
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 26px;
        letter-spacing: normal;
        text-align: left;
        color: #091f36;
    }
    .setup_wizard__content {
        .core_feature_heading {
            font-size: 24px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 26px;
            letter-spacing: normal;
            color: #091f36;
            text-align: center;
        }

        .core_features_list_section {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
        .core_feature_lists {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            justify-content: center;
            .core_feature_list  {
                height: 45px;
                padding: 16px 20px 16px 20px;
                border-radius: 4px;
                background-color: #f4f4ff;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 0;
            }

            .core_feature_title {
                font-size: 16px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 26px;
                letter-spacing: normal;
                text-align: left;
                color: #091f36;
            }
        }
    }
}

.wholesalex_setup_wizard__ready_page {

    .wizard-container__content {

        padding: 45px 40px;

        .intro-text{
            font-size: 28px;
            color: #070c1a;
            font-weight: 500;
            text-align: left;
            margin-bottom: 30px;
            line-height: 1;
        }
        .intro-container {
            display: flex;
            flex-wrap: wrap;
            gap: 50px;

            &>div {
                flex: 1;
            }

            .checkbox-label {
                color: #272727;
            }

            .left_container,.right_container {
                display: flex;
                flex-direction: column;
                gap: 30px;
            }

            .learn-more-text {
                color: #b2b2b2;
                font-size: 24px;
                color: #091f36;
                text-align: left;
                font-weight: 500;
            }

            .learn-more-options .learn-more-option-label{
                cursor: pointer;
            }

            .learn-more-options li:not(:last-child) {
                margin-bottom: 25px;
            }

            .learn-more-option {
                font-size: 18px;
                line-height: 26px;
                color: var(--color-primary);
                display: flex;
                gap: 15px;
                align-items: center;
                margin-bottom: 0;
            }

            .learn-more-option-label {
                font-weight: 500;
            }

            .learn-more-option-icon {
                width: 22px;
                height: 22px;
            }

            .social-media-button {
                padding: 19px 20px;
                border-radius: 6px;
                border: solid 1px var(--color-primary);
                height: 60px;
                color: var(--color-primary);
                background-color: white;
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: center;
                max-width: fit-content;

                img {
                    height: 21.9px;
                    width: 21.9px;
                }

                .social-media-button-label {
                    font-size: 18px;
                    line-height: 23.4px;
                }
            }

        }
        .intro-video {
            position: relative;
            max-width: 100%;

            .thumbnail {
                max-width: 100%;
            }

            .play-icon-container {
                max-width: 25%;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                max-height: fit-content;
                cursor: pointer;

            }

            .play-icon {
                max-width: 100%;
            }

            .video-frame {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 95%;
                height: 93%;
                border-radius: 10px;
            }
        }
        .data_share_consent_section {
            display: flex;
            flex-direction: column;
            gap: 8px;
            .wholesalex_help_message {
                color: var(--wholesalex-body-text-color);
                font-size: 12px;
                /* line-height: 28px; */
                font-style: italic;
                padding: 0;
                margin: 0;
                font-weight: normal;
                /* margin-top: 5px; */
                margin-left: 35px;
            }
        }
    }
}

.wizard__footer {
    margin-top: 30px;
    text-align: center;
}
.wholesalex-btn.wholesalex-primary-btn.ready_to_go_btn {
    padding: 13px 35px;
    font-size: 20px;
    line-height: 26px;
    margin-top: 20px;
}
a.core_feature_title {
    color: unset;
    text-decoration: none;
}
.promotion-banner-img {
    padding: 29px 0px;
    display: flex;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
}
.wholesalex_checkbox_field input[type=checkbox]:checked, .wholesalex_switch_field input[type=checkbox]:checked{
    background-color: #aaaaaa !important;
}
.wholesalex_checkbox_field input[type=checkbox]:checked::before, .wholesalex_switch_field input[type=checkbox]:checked::before {
    left: 8px;
    top: 3px;
    width: 5px;
    height: 8px;
}
.progress-step-label.progress-right-label {
    margin-right: 28px;
}
.progress-step-label.progress-left-label {
    margin-left: 52px;
}