.wsx-overlay-right-window-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999; 

}

.wsx-overlay-header {
    padding: 10.5px 15px;
    border-radius: 4px;
    background-color: #f0f0ff;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: var(--wholesalex-heading-text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wsx-overlay-label {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: var(--wholesalex-heading-text-color);
}

.wholesalex_cross_icon {
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 28px;
    letter-spacing: normal;
    text-align: left;
    color: var(--wholesalex-heading-text-color);
    width: 28px;
    height: 29px;
    cursor: pointer;

    &:hover{
        color: red;
    }
}

.wsx-overlay-content {
    padding: 32px 40px;
    text-align: left;
    position: relative;
}

.wholesalex_overlay_content__fields {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
