.wsx-sales-chart {
    &-container {
        width: 100%;
    }
    &-header {
        align-items: center;
        gap: 10px;
        margin-bottom: 12px;
        white-space: nowrap;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    &-legend {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: end;
        gap: 16px;
    }
    &-wrapper {
        position: relative;
        width: 100%;
    }
    &-canvas {
        cursor: pointer;
        border: 1px solid var(--color-base-two);
    }
    &-tooltip {
        position: absolute;
        z-index: 10;
        background-color: var(--color-base-one);
        border: 1px solid var(--color-border-primary);
        border-radius: var(--border-radius-md);
        box-shadow: 0 16px 32px -16px var(--color-text-lighter);
        transform: translate(-50%, -100%);
        pointer-events: none;
        overflow: hidden;
        &-date {
            font-size: 12px;
            color: var(--color-text-medium);
            padding: 8px;
            background-color: var(--color-gray);
            border-bottom: 1px solid var(--color-border-primary);
        }
        &-content {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 12px;
            background-color: var(--color-base-one);
        }
        &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;
            font-size: 14px;
        }
        &-dot {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            flex-shrink: 0;
        }
        &-label {
            font-size: 12px;
            color: var(--color-text-light);
        }
        &-value {
            font-weight: var(--font-weight-medium);
            font-size: 12px;
            color: var(--color-text-dark);
        }
    }
}

@media (max-width: 576px) {
    .wsx-sales-chart-legend {
        flex-direction: column;
        align-items: start;
        margin-left: auto;
    }
}