.wsx-settings {
    &-item {
        .wsx-accordion-body {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        input {
            padding: 0px 16px;
        }
        textarea {
            padding: 10px 16px;
        }
    }
}

.wsx-design_two {
    .wsx-column-1fr-2fr {
        display: block;
    }
}
.wsx-design_three {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}

.wsx-tier-design-settings {
    padding-right: 20px;
    border-right: 1px solid var(--color-tertiary);
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.wsx-accordion-body.wsx-close {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 3s ease-in-out;
}

/*  RTL Support */
.rtl {
    .wsx-tier-design-settings {
        padding-right: 0px;
        border-right: 0;
        padding-left: 20px;
        border-left: 1px solid var(--color-tertiary);
    }
}

@media (max-width: 1200px) {    
    .wsx-tier-design-settings {
        border-right: 0;
        padding-right: 0;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--color-tertiary);
    }
    .wsx-settings-design-container {
        flex-direction: column;
    }
}