.wsx-shortcode-field-content {
    padding: 4px;
    background-color: var(--color-base-two);
    border-radius: var(--border-radius-md);
    border: 1px solid var(--color-border-tertiary);
    display: flex;
    align-items: center;
    gap: 32px;
    width: fit-content;
    .wsx-icon-wrapper {
        padding: 4px;
        color: var(--color-text-reverse);
        border-radius: var(--border-radius-sm);
        background-color: var(--color-primary);
        &:hover {
            background-color: var(--color-secondary);
        }
    }
    &:hover {
        background-color: var(--color-base-three);
    }
}
.wsx-get-shortcode-text {
    color: var(--color-text-medium);
    padding-left: 12px;
}
.wsx-shortcode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
    border: 1px solid var(--color-border-light);
    border-radius: var(--border-radius-sm);
    padding: 0 12px;
    input.wsx-input, input.wsx-input:focus {
        border: none;
        box-shadow: none;
        outline: none;
        min-height: 28px;
        padding: 0;
    }
    &-container {
        height: 60vh;
        overflow: auto;
    }
    &-item {
        padding: 20px 0;
        border-top: 1px solid var(--color-border-primary);
        min-width: 860px;
        grid-template-columns: 1fr 1fr 2fr;
        &:last-child {
            border-bottom: 1px solid var(--color-border-primary);
        }
    }
    &-wrapper {
        .wsx-title {
            border-bottom: 1px solid var(--color-border-primary);
        }
    }
    .wsx-ellipsis {
        max-width: 20rem;
    }
}