.wsx-side-menu {
    &-wrapper {
        display: flex;
        align-items: stretch;
        border-radius: var(--border-radius-lg);
        box-shadow: 0 2px 4px 0 var(--color-shadow-primary);
        overflow: hidden;
        white-space: nowrap;
    }
    &-list {
        background-color: var(--color-base-two);
        max-width: 232px;
        width: 100%;
    }
    &-body {
        background-color: var(--color-base-one);
        width: 100%;
    }
    &-item {
        cursor: pointer;
        padding: 24px 32px;
        color: var(--color-tertiary);
        font-weight: var(--font-weight-medium);
        border-bottom: 1px solid var(--color-border-tertiary);
        &:hover, &.active {
            background-color: var(--color-primary);
            color: var(--color-text-reverse);
        }
        &:last-child {
            margin-bottom: 100px;
        }
    }
    &-header {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        padding: 16px 40px;
        border-bottom: 1px solid var(--color-border-tertiary);
    }
    &-content {
        padding: 20px 40px 100px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}

.wsx-side-modal {
    &-wrapper {
        position: fixed;
        top: 32px;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: flex-end;
        z-index: 9999;
        background-color: var(--color-shadow-tertiary);
        @media (max-width: 782px) {
            top: 46px;
        }
    }
    &-container {
        width: 90%;
        height: 100%;
        max-width: 890px;
        background-color: var(--color-base-one);
        .wsx-side-menu-header {
            background-color: var(--color-base-three);
            border-bottom: 0;
        }
        .wsx-side-menu-content {
            overflow: auto;
            height: 70vh;
            .wsx-flex-column:last-child {
                padding-bottom: 220px;
            }
            table.wsx-table {
                border-radius: var(--border-radius-md);
                border-color: var(--color-border-primary);
                overflow: hidden;
                th {
                    border-color: var(--color-border-primary);
                    background-color: var(-color-primary);
                    color: var(--color-text-reverse);
                    font-weight: var(--font-weight-medium);
                }
            }
        }
    }
}

@media (max-width: 836px) {
    .wsx-side-menu {
        &-wrapper {
            display: block;
        }
        &-list {
            display: flex;
            overflow-y: hidden;
            overflow-x: auto;
            max-width: unset;
        }
        &-item {
            padding: 16px 24px;
            border-bottom: 0;
            border-right: 1px solid var(--color-border-tertiary);
            &:last-child {
                border: 0;
                margin: 0;
            }
        }
        &-header {
            padding: 14px 16px;
        }
        &-body {
            .wsx-title {
                font-size: 16px;
            }
            .wsx-btn {
                padding: 8px 12px;
                font-size: 13px;
            }
        }
    }
}