input, input[type=text] {
    height: 38px;
    border-radius: var(--border-radius-lg);
    &:focus {
        border: none;
        box-shadow: none;
        outline: none;
    }
}

.wsx-sub-account-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.wsx-new-sub-account {
    .wsx-sub-account-heading {
        padding-bottom: 20px;
        border-bottom: 1px solid var(--color-border-primary);
        margin-bottom: 32px;
    }
}

.wsx-sub-account-controller {
    display: flex;
    align-items: center;
    gap: 16px;
}

.wsx-sub-account-form {
    padding: 32px 24px;
    border-radius: var(--border-radius-lg);
    border: 1px solid var(--color-border-primary);
    background-color: var(--color-base-three);
    input, input[type=text] {
        border-radius: var(--border-radius-md);
        border-color: var(--color-border-tertiary);
        background-color: var(--color-base-one);
        &:focus {
            border: 1px solid var(--color-primary);
            background-color: var(--color-base-one);
        }
    }
}
