.wsx-table {
    &-container {
        background-color: var(--color-base-one);
        padding: 32px;
        overflow: auto;
        white-space: nowrap;
    }
    &-body {
        color: var(--color-text-light);
        .wsx-ellipsis {
            max-width: 12rem;
            display: block;
        }
    }
    &-header, &-row {
        display: grid;
        padding-bottom: 32px;
        width: 100%;
        border-bottom: 1px solid var(--color-border-primary); 
    }
    &-header {
        font-weight: var(--font-weight-medium);
        color: var(--color-text-medium);
    }
    &-row {
        padding: 20px 0;
        align-items: center;
    }
}
.wsx-user-image {
    max-width: 44px;
    max-height: 44px;
    border-radius: 50%;
}