//Classical Table Scss
.wsx-tire-classical-horizontal {
    padding: 12px;
    width: auto;

    .wsx-tire-list-item {
        padding: 8px 0px 8px 8px;
    }
    .wsx-tire-list-content {
        border-right: 1px solid;
        padding-right: 20px;
        position: relative;
        z-index: 1;
    }
    .wsx-tier-selected-overlay {
        position: absolute;
        z-index: -1;
        content: '';
        top: -8px;
        bottom: -8px;
        left: -8px;
        right: 12px;
    }
    .discount-badge {
        padding: 0 6px;
    }
}

.wsx-tire-classical-vertical {
    width: fit-content;
    padding: 20px;
    .wsx-tire-list-item {
        padding: 8px 12px;
        margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}