.wsx-tiers-fields {
    margin-bottom: 8px;
}
.wsx-tier {
    &-wrapper, &-header {
        display: grid;
        grid-template-columns: repeat(4, 1fr) 40px;
        gap: 24px;
        align-items: end;
        &2 {
            grid-template-columns: repeat(3, 1fr) 40px;
        }
    }
    &-wrapper {
        margin-bottom: 16px;
    }
    &-header {
        &-item {
            padding-left: 4px;
            color: var(--color-text-medium);
        }
    }
}
.wsx-condition-container .wsx-tier {
    &-wrapper, &-header {
        grid-template-columns: repeat(3, 1fr) 40px;
    }
}
.wsx-single-product-settings-wrapper .wsx-tier-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 40px;
    gap: 12px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--color-border-primary);
}

.wsx-single-product-settings-wrapper >.wsx-tier-wrapper {
    grid-template-columns: 1fr;
}
.wsx-bundle-product-wrapper >.wsx-tier-wrapper {
    grid-template-columns: 1fr;
}

.wsx-tier-price-table-wrapper{
       select.wsx-tier-table-select{
           width: 100%;
           border-radius: 8px;
           height: 40px;
       }
   }
.wsx-form-setting .wsx-tier-price-table-wrapper{
       select.wsx-tier-table-select{
           width: fit-content !important;
           border-radius: 8px;
       }
   }
.wsx-form-setting .wsx-tier-wrapper, .wsx-tier-header {
     grid-template-columns: repeat(3, 1fr) 40px;
}
@media (max-width: 768px) {
    .wsx-tier {
        &-wrapper, &-header {
            grid-template-columns: repeat(1, 1fr);
            gap: 12px;
        }
    }
}
@media (max-width: 1400px) {
    .wsx-tier {
        &-wrapper, &-header {
            grid-template-columns: repeat(1, 1fr);
            gap: 12px;
        }
    }
}
@media (max-width: 576px) {
    .wsx-condition-container .wsx-tier {
        &-wrapper {
            grid-template-columns: 1fr;
        }
    }
}