.wsx-preview-table-wrapper {
    width: 101%;
    overflow: auto;
}
.wsx-tire-table {
    width: fit-content;
    overflow: hidden;

    .wsx-tire-header {
        width: fit-content;
        font-weight: 600;
        border-bottom: 1px solid #e0e0e0;
    }

    &.horizontal {
        display: flex;
        flex-direction: column;
    }

    .wsx-tire-row {
        width: fit-content;
        display: flex;
        border-bottom: 1px solid #e0e0e0;
        &:last-child {
            border-bottom: none;
        }
    }

    .wsx-tire-cell {
        flex-grow: 1;
        padding: 12px 16px;
        text-align: left;
        border-right: 1px solid;
        width: 110px;
        min-width: 110px;
        &:last-child {
            border: 0;
        }
        .wsx-ellipsis {
            max-width: 112px;
        }
    }

    .wsx-tire-cells {
        display: flex;
        flex: 1;
    }
}
