.wsx-toast {
    &-wrapper {
        position: fixed;
        z-index: 99999;
        top: 110px;
        right: 15px;
    }
    &-message-wrapper {
        display: flex;
        align-items: center;
        gap: 32px;
        padding: 12px;
        border-radius: 12px;
        color: var(--color-text-reverse);
        box-shadow: 0 0 12px 0 var(--color-shadow-tertiary);
    }
    &-close {
        cursor: pointer;
        &:hover {
            color: var(--color-tertiary);
        }
    }
}

/* RTL Support */
.rtl {
    .wsx-toast-wrapper {
        right: auto;
        left: 15px;
    }
}