$bg-color: #E7E7FF;
$label-color: #6B677A;
$switch-bg-color: #FFFFFF;
$switch-text-color: #070707;

.wsx-toggle-switches-container {
    width: 16rem;
    position: relative;
    display: flex;
    background-color: var(--color-base-two);
    line-height: 3rem;
    border-radius: var(--border-radius-md);
    input {
        visibility: hidden;
        position: absolute;
    }

    label {
        width: 50%;
        text-align: center;
        cursor: pointer;
        color: var(--color-text-light);
    }

    .wsx-toggle-switch-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50%;
        padding: 0.15rem;
        transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
        left: 0;
        .wsx-toggle-switch {
            border-radius: 6px;
            background-color: var(--color-base-one);
            height: 100%;

            div {
                width: 100%;
                text-align: center;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                color: var(--color-tertiary);
                transition: opacity 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.125s;
            }
        }
    }
}