.wholesalex-wallet__balance-field {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 10px;
    border-bottom: 1px solid var(--wholesalex-border-color);

    .wallet_label {
        font-size: 32px;
        line-height: 18.2px;
        color: var(--wholesalex-heading-color);
        font-weight: bold;
    }

    .wallet_balance {
        font-size: 42px;
        line-height: 18.2px;
        color: var(--wholesalex-primary-color);
        font-weight: bold;
    }
}

.wholesalex-wallet__button-section.wholesalex_master_wallet {

    .label_add_balance,
    .label_transaction_history,
    .label_subaccount_pending_request {
        font-size: var(--wholesalex-size-22);
        line-height: 22px;
    }

    .icon {
        font-size: 65px;
        line-height: 32px;
        color: var(--wholesalex-meta-color);
    }
}

.wallet_add_balance,
.wallet_transaction_history,
.wallet_subaccount_pending_request {
    display: flex;
    align-items: center;
    background-color: var(--wholesalex-border-color);
    color: #000;
    border: none;
    border-radius: 4px;
    justify-content: space-between;
    padding: 50px 15px;
    width: 100%;

    .icon {
        font-size: 100px;
        line-height: 32px;
        color: var(--wholesalex-meta-color);
    }

    span.icon.dashicons {
        width: auto;
        height: auto;
    }

    .label_add_balance,
    .label_transaction_history,
    .label_subaccount_pending_request {
        font-size: var(--wholesalex-size-24);
        line-height: 18.2px;
    }
}

.wallet-active-button {
    background-color: var(--wholesalex-primary-color) !important;
    color: #ffffff !important;

    .icon {
        color: #afa0ff !important;
    }
}

.wholesalex-wallet__button-section {
    display: flex;
    gap: 25px;
}

.label_topup_amount,
.label_request_amount {
    color: var(--wholesalex-heading-color);
    font-size: var(--wholesalex-size-18);
    line-height: 25px;
    font-weight: 500;
}

.wallet_topup_amount,
.wallet_request_amount {
    display: flex;
    flex-direction: column;
    padding-right: 21px;
}

.wallet_topup_amount input[type=number],
.wallet_request_amount input[type=number] {
    border: 1px solid var(--wholesalex-border-color);
    font-size: var(--wholesalex-size-18);
    padding: 10px;
    width: 100%;
}

.wallet_submit_btn,
.wallet_request_btn {
    background-color: var(--wholesalex-primary-color);
    border: none;
    border-radius: 2px;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 15px;

}

.wallet_transaction_history_table_section table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;

    thead {
        background-color: var(--wholesalex-heading-color);
        color: #ffffff;
        font-size: var(--wholesalex-size-18);
        line-height: 22px;
        border-left: 1px solid var(--wholesalex-heading-color);
        border-right: 1px solid var(--wholesalex-heading-color);
    }

    tbody {
        background-color: #f8f8f8;
    }

    th {
        padding: 15px;
    }

    td {
        padding-left: 15px;
    }

    tbody tr {
        border-bottom: 1px solid var(--wholesalex-border-color);
        height: 80px;
    }

    tbody tr td {
        font-size: 14px;
        line-height: 22px;
        color: #555555;
    }

    tbody {
        border-left: 1px solid var(--wholesalex-border-color);
        border-right: 1px solid var(--wholesalex-border-color);
    }

    .transaction_id {
        width: 25%;
    }

    .transction_type {
        width: 10%;
        text-transform: capitalize;
    }

    .amount {
        width: 15%;
    }

    .date {
        width: 20%;
    }

    .details {
        width: 30%;
    }
}

.wholesalex_wallet_page {
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;

    .wholesalex-editor__loading-overlay {
        height: 100%;
        position: relative;
    }

    .wholesalex-editor__loading-overlay__inner {
        position: absolute;
        left: 50%;
        top: 25vh;
    }
}

.pagination_buttons button {
    border: none;
    border: 1px solid #c4c4c4;
    // background-color: white;
    padding: 10px;
    width: 100px;
    cursor: pointer;
}

.pagination_buttons {
    display: flex;
    gap: 15px;
    padding-top: 15px;
    font-size: 14px;
    line-height: 35px;

    .prev_icon,
    .next_icon {
        font-size: 16px;
        line-height: 22px;
        width: auto;
        height: auto;
    }

    .pagination_prev,
    .pagination_next {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

}

.wallet_subaccount_pending_request {
    background-color: #f8eec4;
    border-color: #e5dcb7;
}

.wholesalex_wallet_page {
    table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #e5e5e5;
        background-color: #f8f8f8;
    }

    thead th {
        text-align: left;
        background-color: #484848;
        padding: 10px;
        border-bottom: 1px solid #dedede;
        color: #ffffff;
    }

    tbody td {
        padding: 10px;
        border-bottom: 1px solid #dedede;
        color: #2e2e2e;
    }

    tbody td:first-child {
        font-weight: bold;
    }

    .approve-button {
        margin-right: 10px;
        padding: 10px;
        background-color: #4CAF50;
        border: none;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
    }

    .decline-button {
        padding: 10px;
        background-color: #f44336;
        border: none;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
    }

    /* Popup CSS */
    .popup-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    .popup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        padding: 20px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .popup-message {
        margin-bottom: 20px;
    }

    .popup-buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .popup-back-button {
        padding: 10px;
        background-color: #4CAF50;
        border: none;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
    }

    .popup-decline-button {
        padding: 10px;
        background-color: #f44336;
        border: none;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
    }

    .wsx_loading {
        width: 16px;
        height: 16px;
        border: 3px solid #FFF;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }


}

.no_wallet_requests {
    text-align: center;
}