.wsx-email-lists {
    .wsx-lists-table-column {
        &-email_type {
            text-transform: capitalize;
        }
        .wsx-ellipsis {
            max-width: 20rem;
            width: 60%;
        }
    }
}