.wsx-preview {
    &-container {
        border: 2px solid var(--color-border-primary);
        border-radius: var(--border-radius-md);
        width: 32vw;
        max-width: 611px;
        @media (max-width: 1200px) {
            width: 52vw;
        }
        @media (max-width: 836px) {
            width: 74vw;
        }
    }
    &-header {
        padding: 12px;
        text-align: center;
        background-color: var(--color-border-primary);
    }
    &-body {
        padding: 16px 20px 24px;
    }
}