.wsx-badge-style {
    gap: 16px;
    label#choose-box-selected {
        border-color: var(--color-tertiary);
    }
    .choose-box-selected {
        padding: 13px 16px;
    }
    .wsx-choose-box-image {
        max-height: 22px;
    }
}