.wsx-dashboard {
    display: flex;
    gap: 48px;
    .wsx-container-left {
        flex-basis: 76%;
    }
    .wsx-container-right {
        flex-basis: 24%;
    }
    &-header {
        position: relative;
    }
}

.wsx-sales-card {
    .wsx-growth-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 2px 6px;
        border-radius: 2px;
        &.wsx-color {
            &-sky {
                background-color: var(--color-sky-lighter);
            }
            &-orchid {
                background-color: var(--color-orchid-lighter);
            }
            &-primary {
                background-color: var(--color-primary-lighter);
            }
            &-mint {
                background-color: var(--color-mint-lighter);
            }
            &-secondary {
                background-color: var(--color-secondary-lighter);
            }
            &-lime {
                background-color: var(--color-lime-lighter);
            }
        }
    }
    .wsx-sales-growth {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 12px;
    }
}

@media (max-width: 1300px) {
    .wsx-dashboard {
        flex-wrap: wrap;
        .wsx-container-left, .wsx-container-right {
            flex-basis: 100%;
        }
    }
}